[2020-06-13 09:23] kxcd opened #3529 "[0.16.0.0-rc1] dashd manpage needs updated verbiage for privatesenddenomsgoal & privatesenddenomshardcap"
![image](https://user-images.githubusercontent.com/20513885/84565334-bb344800-adab-11ea-82a0-0aa04cbb7f6a.png)

Need to add,

To manpage.
and remove

from manpage.

[2020-06-20 16:21] sidhujag opened #3544 "long living quorum question"
Hey guys,

Great work on the LLQM stuff! I just wanted some clarification on how the PoSe works. There is a LLQM that is mined every 24 blocks (https://github.com/dashpay/dash/blob/master/src/chainparams.cpp#L163)

Is this the one responsible for PoSe not taking into account IS/DS/chainlocks? Or is there an inherent assumption that a service like chainlocks will circulate through masternodes by as

[2020-06-21 04:01] sidhujag opened #3545 "typo in CSigningManager::VerifyRecoveredSig"
https://github.com/dashpay/dash/blob/master/src/llmq/quorums_signing.cpp#L922 passes in llmqTypeChainLocks when I think you meant to pass in llmqType, actually this variable is not needed as type is the only thing used you can pass in llmqType directly.

Was initially put in by @codablock here https://github.com/dashpay/dash/commit/4026ea203

[2020-06-21 07:23] UdjinM6 commented on #3544
The most of current PoSe logic is basically in these two function https://github.com/dashpay/dash/blob/master/src/evo/deterministicmns.cpp#L845-L880 which works for every quorum commitment mined for all quorums - for every quorum member see if it is included into the valid members list for that quorum in a commitment that was mined and if not apply some score to it. Then you just reduce this score

[2020-06-21 13:28] sidhujag commented on #3544
@UdjinM6 is the one created every hour exercising this code or does it need chainlock for example to leverage the quorum to get here?

[2020-06-21 16:43] UdjinM6 commented on #3544
Every quorum is created via DKG which results in a single "final" mined commitments (or a "null" commitment of DKG failed for some reason). The "punish" code is executed for every commitment that was mined, the "decrease" code is executed on every block.

[2020-06-21 22:47] sidhujag commented on #3544
Thanks I can see how it makes uptime provability more efficient I hated the mnping bandwidth bloat.  I guess each service (chainlock, instant send inputs) need to do a DKG based on params of the LLQM for a tx coinbase commitment.

I also wonder why you removed the height in the coinbase and use it in ccbtx.. is this just semantics deduplicating the height or something more?

[2020-06-23 16:29] PastaPastaPasta opened #3550 "Add devnet regression test"
See https://github.com/dashpay/dash/pull/3549

A test should be created, that passes when two nodes are able to join the same devnet and communicate and fails if that doesn't work

[2020-06-23 21:43] sidhujag opened #3551 "ProcessGetData, dealing with blocks + txs in batch - loop issue"
https://github.com/dashpay/dash/blob/master/src/net_processing.cpp#L1278 this should probably be continue and not break.. if you get multiple getdata requests some block some txs you still want to process the txs.

[2020-06-23 23:41] UdjinM6 commented on #3551
That's by design. Processing getdata for blocks can be quite expensive, so we only do this once per call. It works like this: process all known invs while it's not (some kind of) a block, process that block, drop all processed invs from `vRecvGetData` https://github.com/dashpay/dash/blob/master/src/net_processing.cpp#L1433. The rest of `vRecvGetData` is going to be processed on another call, up to

[2020-06-23 23:49] UdjinM6 commented on #3544
Every new/revived masternode goes to the end of the queue, it will only be paid after everyone else i.e. after `mn count` blocks (well, more or less - this is only true if you are ignoring the fact that some of currently online MNs might be pose-banned or disbanded, but you get the idea).

re height in coinbase tx: https://github.com/dashpay/dips/blob/master/dip-0004.md#height-in-cbtx-and-deprecat

[2020-06-24 02:40] sidhujag commented on #3551
it will break right now so it will process maybe some INV's not blocks and soon as it gets to a block it will stop and continue on next loop.. is this to optimize tx Inv over block's?

[2020-06-24 08:41] UdjinM6 commented on #3551
As far as I understand it It's basically to avoid processing multiple heavy operations in a row - many other objects are cached and/or small, blocks on the other hand can be few MiBs large, require disk i/o and might also require chain activation. So in order to keep our communication with peers live we have to process data in batches here.

[2020-06-24 14:50] sidhujag commented on #3551
ok cool, maybe it should be made more clear or better there is a way to make it more consistent with upstream bitcoin by not even going in there if your a block you can see how I did it here: https://github.com/syscoin/syscoin/blob/dev-4.x-evo/src/net_processing.cpp#L1782

Side note: you also have to deal with m_tx_relay being nullptr meaning block only relay mode. Because BTC assumes if its not a

[2020-06-25 21:50] #3544 closed

[2020-06-25 21:54] sidhujag opened #3553 "GetTxPayload return value question"
Can someone please explain this code here, I am confused as to the intention and how it is currently even working:

https://github.com/dashpay/dash/blob/master/src/evo/specialtx.h#L29

the return value is ds.empty() which should always be false if deserialization happens successfully? Yet the consuming code always checks for false for errors.

[2020-06-25 21:58] sidhujag commented on #3553
nvm, empty() means there is no more data to consume, not that the data object is empty()

[2020-06-25 21:58] #3553 closed

[2020-06-27 02:17] PastaPastaPasta commented on #1470
This seems to be resolved. To add a bit more detail, in order for a tx to be accepted to the mempool, it must not be a part of a long chain (25 txes) of unconfirmed txes. So what's happening is the wallet creates the tx, but it doesn't get added to the local mempool / broadcasted because it doesn't pass that rule. A wallet restart or running `resendwallettransactions` rpc command after some of the

[2020-06-27 02:17] #1470 closed

[2020-06-27 02:20] PastaPastaPasta commented on #1466
This should be fixed. Please open a new issue if you're having problems with -prune

[2020-06-27 02:20] #1466 closed

[2020-06-27 02:22] PastaPastaPasta commented on #1552
@UdjinM6 please reopen if this isn't resolved.

[2020-06-27 02:22] #1552 closed

[2020-06-27 02:30] PastaPastaPasta opened #3576 "Masternode Tab should work with nowallet"
`./dash-qt --nowallet` and see that the Masternode tab isn't accessible. I don't see any reason why it shouldn't work.

[2020-06-27 23:38] PastaPastaPasta commented on #3551
I haven't looked into it, but I'm going to guess that is a bitcoin PR that does what your describing that we haven't backported yet.

[2020-06-28 07:17] sidhujag commented on #3551
The tx_relay thing maybe, but might be better design to check mntype upfront and where notfound is referenced as it is assumed in bitcoin that if its not a block its a tx but in our case we have other types to deal with.

In general its probably a cleaner logic flow

[2020-06-28 12:33] UdjinM6 opened #3578 "Qt redesign issues"
Let's have all the issues related to qt redesign in #3554-#3575 in one place.

_A comment originally posted by @strophy in https://github.com/dashpay/dash/pull/3554#issuecomment-650652989_:

- Blurriness remains on splash screen, but is fixed everywhere else as far as I can tell. The QR code looks fine, but the text address below it is blurry. All other blurriness is gone - this was my main concer

[2020-06-28 14:26] PastaPastaPasta commented on #2268
Suggesting these kind of very big changes to the network is probably more appropriate for the forum first. Also, there's been no activity on this in a year+ with no responses.

Closing for the reasons above

[2020-06-28 14:26] #2268 closed

[2020-06-28 14:27] PastaPastaPasta commented on #3010
closing as the fix was given.

[2020-06-28 14:27] #3010 closed

[2020-06-28 14:32] PastaPastaPasta commented on #2867
Closing as it seems like all the answers have been answered and there's been no activity in ~1 year

[2020-06-28 14:32] #2867 closed

[2020-06-28 14:34] PastaPastaPasta commented on #3241
Superseded by #3442, solves the issue you were describing.

[2020-06-28 14:34] #3241 closed

[2020-06-28 14:41] PastaPastaPasta commented on #2942
This issue has been resolved. Closing.

[2020-06-28 14:41] #2942 closed

[2020-06-29 00:15] strophy opened #3580 "Build fails under WSL2 - gmp"
### Describe the issue

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. Install Ubuntu 20.04 under WSL2 ([steps](https://pureinfotech.com/install-windows-subsystem-linux-2-windows-10/))
2. `git clone https://github.com/dashpay/dash.git`
3. `cd dash`
4. `git checkout develop`
5. `sudo apt update` then `sudo apt upgrade`
6. `sudo apt install build-e

[2020-06-29 00:36] strophy commented on #3580
Cross compiling works fine under native Ubuntu 20.04

[2020-06-29 02:10] akshaynexus commented on #3580
I also had this issue,forgot what issue number it was on.but it was non native compile

[2020-06-29 05:36] strophy opened #3581 "Dash logo is horizontally compressed in Ubuntu 20.04"
### Describe the issue
Dash logo and app name are displayed incorrectly

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. Run `dash-qt` under Ubuntu 20.04
2. Logo in status bar is horizontally compressed
3.

### Expected behaviour
Logo should have correct proportions

### Actual behaviour
Logo is horizontally compressed and app name appears as e.g.

[2020-06-30 09:52] shixiaofeia opened #3583 "Nodes built by docker report errors"
This issue tracker is only for technical issues related to Dash Core.

General Dash questions and/or support requests and are best directed to the [Dashpay Reddit](https://www.reddit.com/r/dashpay/).

To report critical security issues, email infosec@dash.org and/or see the DASH bug bounty program on [Bugcrowd](https://bugcrowd.com/dashdigitalcash) instead of creating Github issues.

### Describe

[2020-06-30 20:40] xdustinface commented on #3578
Jup im aware of the remaining blurriness.. couldn't find a solution for it in reasonable time so i put it on my "to investigate later" list :)

See https://github.com/dashpay/dash/pull/3555#issuecomment-652004347

Need to investigate and reproduce this. Seems to be a windows thing?

Can you post screenshots of what you mean here?

Layout issues, will fix those later in the appropriate PR.

Will fi

[2020-06-30 23:09] strophy commented on #3578
Windows is in general a massive PITA when it comes to supporting high resolution displays, it has been flaky for years, even in Microsoft apps like Office, and it still sucks to this day in some apps like Adobe Bridge. I think it is handled in a completely different way to macOS and Linux, and many apps do not support the 150% scaling that I use on my HiDPI panel. I think you need to use ClearType

[2020-07-01 10:48] shixiaofeia commented on #3583
I still have a question, how to calculate the size of the transaction data, because I want to use the estimatesmartfee ​​method to calculate the miner's fee,  Or there are other better ways, look forward to your answer

[2020-07-03 02:35] strophy commented on #3583
Hello, the problem in your first post is you are not passing your dash.conf file to Docker in step 3, so it is auto-generating a dash.conf file for you instead of using your file. Try to start it like this instead:

[code]

The `estimatesmartfee` RPC should work fine once dashd is fully synced.

[2020-07-03 07:33] shixiaofeia commented on #3583
I generated the .dashcore and dash.conf files in advance, and then mount them to docker startup, but it does occasionally happen that the connection is refused, etc.
thank you for your reply

[2020-07-03 14:28] sidhujag opened #3585 "Static analysis: while() infinite loop"
Hello again,

https://github.com/dashpay/dash/blob/master/src/llmq/quorums_utils.cpp#L63

This statement can cause while loop to run infinitely if the only other MN found is the same. I noticed in develop branch its slightly different:

https://github.com/dashpay/dash/blob/develop/src/llmq/quorums_utils.cpp#L124

[2020-07-04 21:50] mrobinton opened #3586 "cli masternode status fail for node behind firewall"

[2020-07-04 21:57] mrobinton commented on #3586
node behind firewall example
rpcbind=127.0.0.1
rpcport=9998
bind=192.168.1.123
port=9999
masternodeaddr=44.55.66.77:9999
externalIP=44.55.66.77

masternode is behind firewall with inbound port redirected
44.55.66.77:9999 => 192.168.1.123:9999

Other cli commands work normally, this one fails
cli masternode status

{
  "outpoint": "0000000000000000000000000000000000000000000000000000000000000000-42

[2020-07-05 23:26] mrobinton commented on #3586
This breaks sentinel which requires the ability to check the masternode status

[2020-07-08 10:39] #3583 closed

[2020-07-09 08:29] kxcd opened #3597 "[0.16.0.0-rc2] Mixing TXes of type Payment to yourself show up in the Overview tab"
### Describe the issue
Mixing TXes of type Payment to yourself show up in the Overview tab.
### Can you reliably reproduce the issue?
yes, just mix a bunch for a while on testnet
#### If so, please list the steps to reproduce below:
1.mix
2.mix
3.wait

### Expected behaviour
They should be filtered from the Overview tab since there are automatic TXes and not actually user created as such.

### Act

[2020-07-09 12:52] xdustinface opened #3599 "rpcbind_test.py fails for standard gitlab-ci configuration"
From #3598

[2020-07-10 16:46] Schlomon commented on #3581
I'm not able to reproduce it. May you specify your screen resolution?

[2020-07-10 22:07] PastaPastaPasta commented on #3581
Reproduced using ubuntu v 20.04 using v0.16rc1 1920x1080 screen resolution

[2020-07-12 22:57] xdustinface commented on #3599
Fixed by #3600.

[2020-07-12 22:57] #3599 closed

[2020-07-13 15:43] kxcd opened #3607 "[0.16.0.0-rc2] Label remains blank for 'Payment to yourself' when using a labelled address"
This issue tracker is only for technical issues related to Dash Core.

General Dash questions and/or support requests and are best directed to the [Dashpay Reddit](https://www.reddit.com/r/dashpay/).

To report critical security issues, email infosec@dash.org and/or see the DASH bug bounty program on [Bugcrowd](https://bugcrowd.com/dashdigitalcash) instead of creating Github issues.

### Describe

[2020-07-13 23:55] ValeryKrapiv1130 opened #3608 "How can I use Redis DB instead of level DB"
I'd like to store indexes not in **level DB** but in **Redis** (in memory).
The goal is to create code that as less as it is possible to changes existing codebase (replacing/changing only needed parts of code for easy portability to future versions).
I need help if it is possible to code only in **dbwrapper.h** and **dbwrapper.cpp**.
Thanks.

[2020-07-16 04:23] PastaPastaPasta opened #3611 "Ubuntu 20.04 test failures"
I'm getting test failures locally on ubuntu 20.04 when running `python3 test/functional/test_runner.py` in all three of the rpc_bind tests, however when ran individually they pass

_Originally posted by @PastaPastaPasta in https://github.com/dashpay/dash/pull/3600#issuecomment-659149350_

[2020-07-16 04:33] PastaPastaPasta commented on #3611
Test failure I'm experiencing locally on a ubuntu 20.04 laptop but not on my ubuntu 18 server
[code]

[2020-07-16 17:02] PastaPastaPasta commented on #3586
I presume you have `-masternodeblsprivkey` set correct? It sounds like it because you say that the MN is working and getting paid

[2020-07-16 17:10] PastaPastaPasta commented on #3608
I'm sorry @ValeryKrapiv1130, we don't support Redis, however, checkout https://github.com/Flenst/DASH-Tools, I think he parsed the chain using both MongoDB and Redis.

[2020-07-16 17:12] PastaPastaPasta commented on #3485
This really has been completed. Closing now

[2020-07-16 17:12] #3485 closed

[2020-07-16 17:14] PastaPastaPasta commented on #3545
fixed by #3546

[2020-07-16 17:14] #3545 closed

[2020-07-16 17:18] #3455 closed

[2020-07-16 17:21] PastaPastaPasta commented on #3406
duplicate of https://github.com/dashpay/dash/issues/3455, plus no response. Closing

[2020-07-16 17:21] #3406 closed

[2020-07-16 17:22] PastaPastaPasta commented on #3334
potential dup. https://github.com/dashpay/dash/issues/3586

[2020-07-16 17:25] PastaPastaPasta commented on #3079
Closing as we are well past 0.14.0.3 and this issue doesn't affect us anymore. I'm sorry you had these problems. Please open a new issue if you have any more difficulties

[2020-07-16 17:25] #3079 closed

[2020-07-16 17:27] PastaPastaPasta commented on #3040
I'm sorry you had these issues. this problem doesn't really affect us anymore though, so closing. Feel free to open a new issue if you have any problems

[2020-07-16 17:27] #3040 closed

[2020-07-16 17:27] #3033 closed

[2020-07-16 17:28] PastaPastaPasta commented on #2995
Issue solved

[2020-07-16 17:28] #2995 closed

[2020-07-16 17:29] PastaPastaPasta commented on #2969
Based on what @qwizzie provides this isn't an issue. Please reopen if you have any more information pointing to a memory leak.

Thansk

[2020-07-16 17:29] #2969 closed

[2020-07-16 17:30] PastaPastaPasta commented on #2664
it appears this issue is solved... Feel free to reopen if you feel it is not solved

[2020-07-16 17:30] #2664 closed

[2020-07-17 04:23] ValeryKrapiv1130 commented on #3608
Hi @PastaPastaPasta!
Thanks for your replay.
I have just use Resid for storing chain indices. Is it possible?

[2020-07-17 13:32] xdustinface commented on #3578
#3562 fixes the blurriness issue of the QR image
#3613 fixes the blurriness on the splashscreen

@strophy can you verify that on your setup too?

[2020-07-17 19:39] PastaPastaPasta opened #3614 "Alphebetize CLI --help output"
In a similar fashion to https://github.com/bitcoin/bitcoin/pull/12331, go through the CLI --help output of dashd, dash-cli, dash-tx, qt/dash-qt, et al and alphabetize it.

[2020-07-18 18:01] PastaPastaPasta commented on #3578
![text clipped](https://user-images.githubusercontent.com/6443210/87858898-b7529300-c920-11ea-878f-fce229834a18.png)
![text messed up](https://user-images.githubusercontent.com/6443210/87858899-b7eb2980-c920-11ea-8255-f2d8fa50c4d4.png)
From 3562

[2020-07-19 17:00] PastaPastaPasta commented on #3608
Not sure. The link that I gave you is the best advise I know of

[2020-07-20 12:12] xdustinface commented on #3578
@strophy #3568 has a fix for this now, please confirm :) It also has the initial appearance setup we discussed here.

[2020-07-21 05:20] strophy commented on #3578
I made a build containing PR-UI 9, 15 and 23 for some testing. I can confirm the splash and QR code look fine under my native Windows setup as described above. A new problem seems to be misalignment of the logos and text in the menu:
![image](https://user-images.githubusercontent.com/32928115/88015569-5a98d900-cad6-11ea-97c4-e31835af29ae.png)

The font sliders are also much more responsive. Every

[2020-07-21 10:49] xdustinface commented on #3578
@strophy The logos will be gone if #3573 ends up getting merged. Feel free to join the discussion there. About the incorrect font size/weight thing, is this already a thing in 0.15 or something new?

[2020-07-22 22:39] strophy commented on #3578
The font weight problem is new, I first noticed it when testing your UI builds. Here is a screenshot from Dash Core 0.15 on the same machine, compare this to the screenshot above, notice that the font weights and size in the menu match the text in the window bar:
![image](https://user-images.githubusercontent.com/32928115/88235460-04db5100-cccf-11ea-8e28-6c5e1af7c909.png)

No matter what settings

[2020-07-24 13:00] xdustinface commented on #3607
This can be fixed by backporting bitcoin#15098. However, it looks like this requires at least bitcoin#10244 which also seems to have some more backport dependencies. Probably the best to just wait here until thats backported then backport the fix? @PastaPastaPasta  #10244 is a 0.17 backport so i guess we will anyway see it pop up from you in the near future , thoughts?

[2020-07-29 19:34] PastaPastaPasta commented on #3607
Yeah, bitcoin#10244 is going to be backported soon:tm:

[2020-08-02 17:50] PastaPastaPasta opened #3648 "Generate commands should throw an error when ran on builds compiled without mining support"
Mining RPC commands / code is excluded from release builds due to the fact that most antivirus software flags mining software and it doesn't make sense to mine on mainnet. However, some people will use these binaries on testnet / regtest and will be confused when mining rpcs don't work.

As such, if mining code isn't compiled in, then an error should be thrown when a user runs a mining rpc command

[2020-08-05 05:56] zhouqiang-cl opened #3655 "Using Chaos Mesh to enhance dash"
Hello, I am [Chaos Mesh](https://github.com/chaos-mesh/chaos-mesh) Maintainer. Chaos Mesh is an open-source and free Chaos Engineering platform

Blockchain is a very promising industry. Congratulations on doing such a promising project,  Blockchain is a subdivision that is widely used in the distributed field. For distributed system, the stability and correctness of the cluster are very important.

[2020-08-25 10:38] Minh20 commented on #3614
Pull Request #3674 created

[2020-08-25 15:56] ghost opened #3675 "Dash Core v0.15 Segmentation fault on macOS 10.15.6"
When I launch Dash Core v0.15 with the default settings on macOS 10.15.6 it crashes after a few moments.
[code]

I also tried the suggested parameters:
[code]
<img width="1029" alt="Screenshot 2020-08-25 at 18 46 55" src="https://user-images.githubusercontent.com/70218183/91197128-ace79e00-e703-11ea-93fd-04dd90323adb.png">

[2020-08-25 16:19] mislest commented on #3675
If I immediately the app once again I get `Failed to create backup, file already exists! This could happen if you restarted wallet in less than 60 seconds. You can continue if you are ok with this.`, but there is no Segmentation fault.

[2020-08-25 16:40] sc-9310 commented on #3580
Fixed this for me changing some options (similar environment / WSL / dev branch)

https://github.com/stakecube/scc/commit/503a1559791140822f47a755cc6a272ba1831314

BUT didn’t tested native compile yet, so might break some other routines.
Will test fully and share a „final“ fix on a free minute

[2020-09-05 02:20] PastaPastaPasta opened #3686 "dash-qt --help segmentation fault on develop"
happening on develop c207e0c953

[code]

[2020-09-05 16:42] #3686 closed

[2020-09-15 16:55] PastaPastaPasta opened #3712 "Implement rpc command to get the latest raw chainlock sig"
Modify RPC command `getbestchainlock` to have parameter `includeSignature` which if set returns a JSON representation including:

- the block hash associated with the best local chainlock
- the block height...
- the BLS signature...
- field indicating if this block is known locally

Example:
[code]

~- [ ] Implement ZMQ notification `zmqpubrawchainlocksig` which pushes the BLS signature associated

[2020-09-15 17:14] PastaPastaPasta opened #3713 "Modify ZMQ notification `rawchainlocksig` to only include CLSIG, and not include the raw block"
Currently `rawchainlocksig` includes the serialized raw block and the serialized CLSIG. Change it to only include the serialized CLSIG

If an integration needs the raw block, they should use `rawblock` zmq notification in conjunction with `rawchainlocksig`.

[2020-09-15 17:33] thephez commented on #3713
Before we remove the raw block, do we have any idea:
1. Why it was put there originally?
2. How likely it is we cause issues for an existing ChainLock integration by doing this?

[2020-09-15 17:47] PastaPastaPasta commented on #3713
It was implemented by @UdjinM6, so it'd be good to ask him. Overall I think the risk is low that someone is using that zmq notification, I guess we could keep that zmq as is, maybe depreciate it in v17 and add `rawchainlocksigonly` that doesn't include the block?

[2020-09-15 17:48] xdustinface commented on #3713
Well actually i think it makes sense to have one command which provides block + `CLSIG`. I just feel like the naming isn't the best there..

Currently we have:
- `zmqpubrawchainlock` sends only block (which doesn't make a lot sense imo)
- `zmqpubrawchainlocksig` sends block + `CLSIG`

Maybe we should just add one command and rename the others.. like

- `zmqpubrawchainlockblock` sends only the last

[2020-09-15 18:10] xdustinface commented on #3675
@mislest Can you provide your `debug.log`? Feel free to reach out to me in our discord if you don't want to post it here for any reason, im `@dustinface#6318` there.

Also, does `but there is no Segmentation fault` mean that you can just normally use it then in case the backup creation fails?

[2020-09-18 02:49] PastaPastaPasta opened #3719 "[GUI] Copy still has Icon overlapping"
Happening when testing https://github.com/dashpay/dash/pull/3709
See below:
![Screenshot from 2020-09-17 22-46-31](https://user-images.githubusercontent.com/6443210/93549745-7e06c580-f959-11ea-8302-e03ec1fc46ae.png)

(Maybe this is fixed by a open PR already, if so feel free to close)

[2020-09-18 09:20] UdjinM6 commented on #3713
My (old) thoughts re zmq message names: https://github.com/dashpay/dash/pull/2930#issuecomment-494916065. TL;DR: Keep old messages as is for now (v0.17 atm) and warn about their future deprecation (say in v0.18 or v0.19, should be enough time to update imo). Introduce new messages in parallel, ideally with short yet descriptive and correct names.

I would probably also think about switching to sna

[2020-09-20 20:56] PastaPastaPasta commented on #3713
Hmm, @UdjinM6 I don't love touching all the existing zmq commands, as that would potentially break support with applications that would otherwise support dash out of the box.

[2020-09-22 16:01] PastaPastaPasta commented on #3712
Resolved by https://github.com/dashpay/dash/pull/3718

[2020-09-22 16:01] #3712 closed

[2020-09-24 03:24] PastaPastaPasta commented on #1520
No idea if this is still an issue, as I believe we have backported a some stuff related to building on BSD. Please open a new issue if this is still an issue in latest version

[2020-09-24 03:24] #1520 closed

[2020-09-24 03:25] PastaPastaPasta commented on #1603
DIP3 based MN List page makes this issue obsolete. Feel free to open another issue if you have any other suggestions/requests

[2020-09-24 03:25] #1603 closed

[2020-09-24 03:27] PastaPastaPasta commented on #1661
@UdjinM6 is this still an issue or can we close?

[2020-09-24 03:28] PastaPastaPasta commented on #1886
Closing due to no response. please feel free to open if you still have an issue you'd like to investigate

[2020-09-24 03:28] #1886 closed

[2020-09-24 03:31] PastaPastaPasta commented on #2049
Implementation of gitian build python script likely makes this out of date/irrelevant. Closing, feel free to open if there are further questions

[2020-09-24 03:31] #2049 closed

[2020-09-24 03:32] #2223 closed

[2020-09-24 03:40] PastaPastaPasta commented on #2517
btw: there is an implementation here https://github.com/bitcoin/bitcoin/pull/16345 of this

[2020-09-24 03:41] PastaPastaPasta commented on #2565
I think this has been resolved? (with the latest GUI redo) If not please feel free to reopen

[2020-09-24 03:41] #2565 closed

[2020-09-24 03:43] PastaPastaPasta commented on #3180
This can probably be closed. Either way, here isn't the best place to discuss problems with the whitepaper

[2020-09-24 03:43] #3180 closed

[2020-09-24 03:44] PastaPastaPasta commented on #3243
This has been resolved by just removing these arrows in v16, and instead using green/red coloring (not in rc3, but will be in .0 release)

[2020-09-24 03:44] #3243 closed

[2020-09-24 03:46] PastaPastaPasta commented on #3675
Ping @mislest

[2020-09-24 03:53] PastaPastaPasta commented on #3585
@sidhujag I'm so sorry, looks like we absolutely ignored you...

The first loop you bring up is very interesting and looks to me like it should be a problem

@UdjinM6 or @xdustinface can you confirm?

[2020-09-24 03:55] PastaPastaPasta commented on #3529
Man pages should get updated by @UdjinM6 before the .0 release.

Please confirm @UdjinM6

[2020-09-24 03:56] PastaPastaPasta commented on #3525
Imo this has mostly been done by 3661. Go ahead an reopen if there is more you'd like to see done

[2020-09-24 03:56] #3525 closed

[2020-09-24 03:57] PastaPastaPasta commented on #2961
resolved by 2962

[2020-09-24 03:57] #2961 closed

[2020-09-24 03:59] #2913 closed

[2020-09-24 04:29] PastaPastaPasta opened #3729 "Implement 100 Member LLMQ to be used by Dash Platform"
# Implement 100 Member LLMQ to be used by Dash Platform
## Benefits of implementing a new LLMQ
Quorum size is 100 instead of 50 so:

- Better protection from DoS
- Lower possibility of having more than ⅓ low latency or offline nodes.
- More secured consensus, much harder to achieve majority for malicious nodes

Validation workload distributed more evenly among network
Do not disturb IS lock proces

[2020-09-24 04:47] PastaPastaPasta opened #3730 "Implement ZMQ event for LLMQ signing"
Text from platform team regarding feature:

## Implementation

### ZMQ message name
`zmqpubrawllmqrecoveredsig` / `rawllmqrecoveredsig`

### Output

A Recovered sig object has
[code]
I propose the output should be 872 bits long or 109 bytes long and have the format of (`||` indicates concatenation)
[code]

### Trigger
Should be called whenever ANY new recovered sig is "discovered" including ISLock

[2020-09-24 11:27] UdjinM6 commented on #1661
Still an issue in v0.16-rc3, I have no idea why.

[2020-09-24 14:44] #3614 closed

[2020-09-27 03:37] PastaPastaPasta opened #3739 "contrib: Replace developer keys with list of pgp fingerprints"
See https://github.com/bitcoin/bitcoin/pull/11909

Is this a sensible change that we should enact as well? It seems to me to not provide much benefit to remove the keys from the repo, however they point out some potential benefit such as dealing with
"
    Outdated keys. Unclear whether and when to replace by fresh copies.
    Unclear when to add a key of a new developer or Gitian builder.
"

Thou

[2020-09-27 04:07] PastaPastaPasta opened #3740 "[wallet] Upgrade path for non-HD wallets to HD"
See https://github.com/bitcoin/bitcoin/pull/12560

Due to our divergence in HD wallet code, I'm not going to do it in the normal backport process, but instead open an issue.

I anticipate we can accomplish this in v17.

When executing this change, `InitError(_("Unable to generate keys") += "\n")` should be just `InitError(_("Unable to generate keys"))`

This issue should also be used to discuss if

[2020-09-28 19:34] PastaPastaPasta commented on #3648
This issue has a 1 Dash community based bounty: https://trello.com/c/dbkj327J/86-dash-core

[2020-09-28 19:35] PastaPastaPasta commented on #3550
This issue has a 1 Dash community based bounty: https://trello.com/c/dbkj327J/86-dash-core

[2020-09-30 18:53] sidhujag opened #3754 ""bad-protx-ipaddr-port" check"
Can I ask why https://github.com/dashpay/dash/blob/develop/src/evo/providertx.cpp#L27 check doesn't simply do:

<code>
    if (proTx.addr.GetPort() != Params().GetDefaultPort()) {
        return state.DoS(10, false, REJECT_INVALID, "bad-protx-ipaddr-port");
    }
</code>

[2020-09-30 20:44] sidhujag commented on #3754
i see its mainly because tests will break in regtest, this should probably be fixed but i can see why

[2020-09-30 20:44] #3754 closed

[2020-10-01 13:55] timucin commented on #3344
This bug is still in V16

[2020-10-01 16:34] PastaPastaPasta commented on #3344
@timucin Have you tried adjusting Appearance settings?

[2020-10-01 16:54] timucin commented on #3344
yes. I tried Appearance settings, tried all but still not good.
For the info: I'm using linux mint 18.3,  my screen resolution is 1920x1080.

[2020-10-01 17:14] PastaPastaPasta commented on #3344
Gosh Darnit!! Well... thank you for testing it. Guess this issue stays open

[2020-10-02 20:43] sidhujag opened #3757 "Unchecked signhash in ProcessMessageSigSesAnn"
Hey guys,

There is an unchecked variable here, was it intended to be verified against quorum pubkey?

https://github.com/dashpay/dash/blob/develop/src/llmq/quorums_signing_shares.cpp#L338

[2020-10-02 20:54] sidhujag opened #3758 "Unused invType for CDKGSessionHandler"
https://github.com/dashpay/dash/blob/master/src/llmq/quorums_dkgsessionhandler.cpp#L93

Creates CDKGSessionHandler with an invType but this invType is never checked. Is this OK? remove?

[2020-10-02 21:07] sidhujag opened #3759 "polymorphic classes not using a virtual destructor"
I get a bunch of warnings on these classes for not having a virtual destructor for BLSWrapper:

https://github.com/dashpay/dash/blob/master/src/bls/bls.h#L34

You should consider adding virtual dtors for CBLSWrapper, it may mean derived classes aren't deleted if base class pointer is deleted.

[2020-10-04 19:27] thestick613 opened #3760 "rpc call to create a wallet?"
What is the RPC call to create a new wallet? Can a dash node manage multiple wallets?

[2020-10-05 00:20] sidhujag opened #3761 "Fix build so depends process is not needed"
Hello,

I've noticed to build requires going to depends and doing a deterministic build but that's not standard practice to build on local systems so I fixed the build in Syscoin by doing the following things:

1) pull in chiabls src into src/chiabls folder
2) Create build directory and add a configure in the chiabls/build to allow autotools to subdir config chiabls https://github.com/syscoin/bls-

[2020-10-05 17:59] PastaPastaPasta commented on #3760
The PR that introduces `createwallet` rpc was bitcoin#13058. This is not included in Dash v0.16, however, likely will be included in v0.17

[2020-10-05 18:50] thestick613 commented on #3760
It seems dash core can't handle multiple wallets easily enough ... yet.

[2020-10-08 15:07] UdjinM6 commented on #3757
No, it was only meant to be used as an id here I think. Can/should be dropped because `GetOrCreateSessionFromAnn` takes care of it already and this one is just a leftover from previous refactoring/commit split I guess.

[2020-10-08 15:07] UdjinM6 commented on #3758
We use it here https://github.com/dashpay/dash/blob/master/src/llmq/quorums_dkgsessionhandler.cpp#L54

[2020-10-08 19:11] sidhujag commented on #3758
Ahh makes sense should have checked that, in my code as per latest Bitcoin invtype's are removed from cinv and so I just use the hash to remove from network related buffers and so I didn't need the invtype,

see: https://github.com/syscoin/syscoin/blob/dev-4.x/src/llmq/quorums_dkgsessionhandler.cpp#L54

And EraseOtherRequest is here: https://github.com/syscoin/syscoin/blob/dev-4.x/src/net_processi

[2020-10-08 19:12] sidhujag commented on #3757
this call you mean https://github.com/dashpay/dash/blob/develop/src/llmq/quorums_signing_shares.cpp#L130?

I don't see where it verified it there?

[2020-10-08 19:20] #3758 closed

[2020-10-08 23:45] UdjinM6 commented on #3757
I mean, there is no signature to verify at this point. We use it simply as a unique (yet deterministic) session id, there is nothing to check here.

[2020-10-09 04:01] sidhujag commented on #3757
ok thanks

[2020-10-09 04:01] #3757 closed

[2020-10-11 01:06] PastaPastaPasta opened #3767 "[qt] Abnormal non-deterministic scaling of Settings text"
This was happening on 34a146c5c8e5e5242c92b297f70ac9fbe82fc842, a commit in https://github.com/dashpay/dash/pull/3682, however I have no reason to believe that it is related to that PR.

See the video showing these weird scaling stuff. Happening on Ubuntu 18.04
https://youtu.be/_i7BNwukRU4

[2020-10-11 09:18] qwizzie commented on #3767
Does your balances part of the screen also move to the right (below Send) if you maximize your window ?
See : https://www.dash.org/forum/threads/dash-core-v0-16-has-been-released.50752/#post-223598

[2020-10-11 18:49] PastaPastaPasta commented on #3767
See my response in the forum.

[2020-10-11 18:53] PastaPastaPasta commented on #3760
This is a duplicate of https://github.com/dashpay/dash/issues/2657, so I'm gonna close this one. Feel free to open a new issue if you have any other problems (or comment on that issue)

[2020-10-11 18:53] #3760 closed

[2020-10-12 05:13] PastaPastaPasta opened #3768 "[qt] Dash-qt scaling error when full screen and changing settings"
Occurring on develop and on master.

Video: https://youtu.be/YVlRUoEo9kM

OS: Ubuntu 18.04
Steps to reproduce:
1) Full screen dash-qt
2) open settings
3) close settings
4) See the scaling bug

[2020-10-12 05:18] PastaPastaPasta opened #3769 "[qt] Encrypted wallet shows a check-mark where there should be nothing"
See attached.

OS: Ubuntu 18.04
happening on develop and master
![Screenshot from 2020-10-12 01-15-27](https://user-images.githubusercontent.com/6443210/95707870-4a624700-0c4a-11eb-8c38-e73eb510f789.png)

[2020-10-12 18:33] UdjinM6 commented on #3767
Reproduced the issue on develop, Ubuntu 20.04. Wasn't able to reproduce this on mac or windows, seems to work fine on these OSes for me.

[2020-10-12 19:01] UdjinM6 commented on #3767
@PastaPastaPasta Pls try https://github.com/UdjinM6/dash/commit/ba01e4c4589497247e12cac49feadc4508b523df. If I'm right and the root of the issue is dead pointers in maps then it's not just Options dialog which is broken...

[2020-10-14 03:53] PastaPastaPasta opened #3775 "Release Schedule for v0.17.0.0"
Here is a proposed release schedule for v0.17.0.0, the next major release of Dash Core.
## 2020-11-15

- ~Soft translation string freeze (no large or unnecessary string changes until release)~

## 2020-12-07

- ~Feature freeze (no new ideas, any opened PRs should implement an open issue)~
- ~Translation string freeze (no more source language changes until release)~

## 2020-12-14

- ~Start RC cycl

[2020-10-14 03:54] PastaPastaPasta commented on #3759
Hey @sidhujag, sounds reasonable, feel free to open a PR and we can evaluate it

[2020-10-14 03:58] PastaPastaPasta commented on #3675
Closing due to lack of response

[2020-10-14 03:58] #3675 closed

[2020-10-16 08:25] ghdqh1515 opened #3778 "Dash Mysql Segmentation fault."
I am trying to link mysql to dashd
When dashd runs mysql_init function, I get an error
In another process mysql_init runs without problem

1.dashd.cpp (Code modification)
int main(int argc, char* argv[])
{
	MYSQL conn;
	mysql_init(&conn);

2. $/configure LIBS="-L/usr/lib64/mysql -lmysqlclient -lm" LDFLAGS="-L/usr/lib64/mysql -lmysqlclient -lm" CFLAGS="-I/usr/include/mysql" CPPFLAGS="-I/usr/include

[2020-10-21 17:13] sidhujag opened #3779 "EraseObjectRequest missing from CSigningManager::ProcessMessageRecoveredSig"
Is there a reason for no EraseObjectRequest in this function? https://github.com/dashpay/dash/blob/develop/src/llmq/quorums_signing.cpp#L482

I do see it in the other function which receives an CInv https://github.com/dashpay/dash/blob/develop/src/llmq/quorums_signing.cpp#L680 its just missing from ProcessMessageRecoveredSig.

[2020-10-27 01:22] PastaPastaPasta commented on #2013
At this point, I think we should close this issue, since it's been two years w/o response

[2020-10-27 01:22] #2013 closed

[2020-10-27 01:25] PastaPastaPasta commented on #3778
@UdjinM6 Do you have thoughts on this? I didn't know we had any support for MySQL

[2020-10-28 19:14] #3767 closed

[2020-10-28 19:16] PastaPastaPasta commented on #3779
Thanks for reporting the issue! It's now been fixed

[2020-10-28 19:16] #3779 closed

[2020-11-01 20:00] PastaPastaPasta opened #3787 "Release Process for v0.16.1"
Release Process

- [x]     Update translations, see translation_process.md. (not needed for v0.16.1)
- [x]     Update manpages, see gen-manpages.sh. #3798
- [x]     Archive release notes for the old version to doc/release-notes/dash/, add release notes for the new version (in the release branch) #3805

Before every minor and major release:

- [x]     Update bips.md to account for changes since the

[2020-11-02 01:16] #3769 closed

[2020-11-02 01:17] #3768 closed

[2020-11-06 22:38] sidhujag opened #3797 "Please consider using non-boost lockfree queue for threadpool and bls_worker batch aggregation"
I have been dealing with std::atomic issues on s390x on Syscoin for example(https://travis-ci.org/github/syscoin/syscoin/jobs/741950976) as you can see boost lockfree queue's alignment issues is causing to not find atomic 16 byte operators in and look out for libatomic implementation, therefor I have to explictely link libatomic. Also static analysis tools break as you can see here https://cirrus-

[2020-11-08 21:34] UdjinM6 commented on #3797
Interesting. Not sure I see any value in supporting and optimizing for a (niche, imo) architecture like s390x but maybe I'm missing smth and in that case using a lib like that might be a good option, so thanks for reporting the issue 👍 Having said that, I tried to swap `boost::lockfree::queue` with concurrentqueue just to see if there are any speedups and I see no improvements in bls benchmarks at

[2020-11-08 23:54] sidhujag commented on #3797
I think it's not s390x but its architectures which may have issues with alignment, just that one was caught with ASAN. Can I see your benchmark numbers and I can see and compare with mine? Also can I see your branch to see how you swapped it? I used try_enqueue to avoid memory allocation falling back to enqueue only on failure. I think it should be much faster and it is better on analyzers seeming

[2020-11-09 15:48] UdjinM6 commented on #3797
Simply run `./src/bench/bench_dash --filter=".*BLS.*"` on develop and with that patch. Funny enough, I can't reproduce that performance degradation I mentioned above anymore for some reason, even without memory preallocation. Must be some glitch, no idea.

Nothing fancy, just s/push/enqueue/ and s/pop/try_dequeue/ in most places + `auto aggQueueSizeRes = aggQueue.try_dequeue_bulk(rem.begin(), aggQ

[2020-11-10 02:29] sidhujag commented on #3797
I ported dash to latest bench and got:

[code]

Then I ran Syscoin one with the same lockfree queue from boost:
[code]

and the one with concurrentqueue:
[code]

[2020-11-14 00:51] sidhujag opened #3814 "potential deadlock in spork.cpp"
https://github.com/dashpay/dash/blob/master/src/spork.cpp#L189

has a potential lock-order-inversion issue.

This is the fix: https://github.com/syscoin/syscoin/commit/08477e15a484099aaa37ec4610438c1b6477c1da#diff-0d7c5dba4239c4b6d3be8e7ba142a255b1301fde8c54cb5e0f4979f3d5cc25aeL202

This is the TSAN: https://cirrus-ci.com/task/5590017022099456?command=ci#L3366

You should probably also review othe

[2020-11-15 12:08] qwizzie opened #3817 "Newly generated wallets can not be encrypted (v0.16.1.0)"
On a newly generated wallet trying to encrypt the wallet, it asks for a wallet passphrase to decrypt the wallet. Yet wallet is not even encrypted. So instead of doing an encrypt action, wallet ends up doing a decrypt action.

Problem seems to occurs in both the Dash Core Windows 64bit Installer and the Dash Core Windows 64bit Zip file. (v0.16.1.0)

### Can you reliably reproduce the issue?
#### If

[2020-11-15 12:15] qwizzie commented on #3817
That is fast, i will close this one.

[2020-11-15 12:15] #3817 closed

[2020-11-17 22:06] Nugetzrul3 opened #3819 "WSL Cross-compile not working"
### Describe the issue
When building for Windows through Linux cross-compile, I encounter this error multiple times:
`g++: error: unrecognized command line option ‘-mthreads’; did you mean ‘-pthread’?`
### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. Clone repository
2. `cd depends`
3. `make HOST=x86_64-w64-mingw32 -j2`

### Expected behaviour
It s

[2020-11-18 00:53] Nugetzrul3 commented on #3819
I have also tried doing `make HOST=x86_64-w64-mingw32` where the directory is in the native Linux directory, not `/mnt/e`. It still fails with the same error

[2020-11-18 02:36] strophy commented on #3819
This works fine for me with Ubuntu 20.04 under WSL2. Can you please confirm you installed all [dependencies](https://github.com/dashpay/dash/blob/master/doc/build-cross.md#windows-64bit-cross-compilation) and changed to the POSIX version of g++ as described here https://github.com/dashpay/dash/blob/master/doc/build-cross.md#building-for-64-bit-windows

[2020-11-18 06:39] Nugetzrul3 commented on #3819
`sudo update-alternatives --config x86_64-w64-mingw32-g++`
[code]
Already selected.
`sudo apt install build-essential libtool autotools-dev automake pkg-config bsdmainutils curl git python3 cmake`
[code]
All dependencies installed.

I am also using WSL2, but 1804 version. Should that be an issue though?

[2020-11-18 06:45] Nugetzrul3 commented on #3819
I think I have found the issue:
[code]
On the other hand
[code]

[2020-11-18 17:11] strophy commented on #3819
Yes, that looks like the problem. This works fine with Dash Core, or can you reproduce it there too? Otherwise you'll need to look at what is different for your `NachoCoinWidnows` fork...

[2020-11-18 21:07] Nugetzrul3 commented on #3819
Yes seems to be that. Just tried building for Dash:
[code]
It is using `x86_64-w64-mingw32-g++` instead of `g++`. Do you know by any chance where I can find the file to change it so that it uses `x86_64-w64-mingw32-g++` instead of `g++`?

[2020-11-18 22:48] strophy commented on #3819
Sorry, I don't know where to do that. Maybe one of the devs can help out...

[2020-11-20 09:08] Nugetzrul3 commented on #3819
Okay thanks. No worries, someone else compiled it and sent. Thanks for the help anyways @strophy

[2020-11-20 09:08] #3819 closed

[2020-11-20 21:15] xdustinface commented on #3597
Fixed by #3657

[2020-11-20 21:15] #3597 closed

[2020-11-20 21:19] xdustinface commented on #3730
Implemented by #3803

@PastaPastaPasta FYI, its 96 bytes for a signature, not 96 bits

[2020-11-20 21:19] #3730 closed

[2020-11-20 21:26] xdustinface commented on #3787
All done!

[2020-11-20 21:26] #3787 closed

[2020-11-24 15:31] sidhujag opened #3827 "bls-signature unit test fail on 32bit centos"
Please see: https://cirrus-ci.com/task/6437457002496000?command=ci#L8659

I set DWSIZE to 32 and you can see it builds but the unit test fails. Is there a known fix?

[2020-11-28 12:26] yzn5555 opened #3836 "dashcore log error"

[2020-11-28 12:29] yzn5555 commented on #3836
version:dashcore-0.15.0
Upgrade version to 0.16.1
now View log prompt:
2020-11-28 12:26:30 New outbound peer connected: version: 70218, blocks=1379193, peer=221
2020-11-28 12:26:30 ERROR: AcceptBlockHeader: block 000000000000000afecd3ab8c45c69bcf9556a8b2c871cb15ed51d9457bd703d is marked invalid
2020-11-28 12:26:30 ThreadSocketHandler -- removing node: peer=221 nRefCount=1 fInbound=0 fMasternode=0

[2020-11-28 12:43] xdustinface commented on #3836
@yzn5555 Run `dash-cli reconsiderblock 000000000000000afecd3ab8c45c69bcf9556a8b2c871cb15ed51d9457bd703d` if you are on CLI or just `reconsiderblock 000000000000000afecd3ab8c45c69bcf9556a8b2c871cb15ed51d9457bd703d` in the debug console of the UI.

[2020-11-28 16:09] Alteryy opened #3838 "getwalletinfo error,GetOldestKeyInPool: read oldest key in keypool failed"
Dash Core Daemon version v0.16.1.1

./dash-cli getwalletinfo
error code: -1
error message:
GetOldestKeyInPool: read oldest key in keypool failed

What does this mean and how to solve it

[2020-11-28 19:07] PastaPastaPasta commented on #3814
fixed by 3829

[2020-11-28 19:07] #3814 closed

[2020-11-29 10:44] mtb-pro opened #3840 "Block sync stopped at 1379127"
how to fix it?

Dash Core RPC client version v0.15.0.0
### watch dash-cli getblockchaininfo

{
  "chain": "main",
  "blocks": 1379127,
  "headers": 1379127,
  "bestblockhash": "000000000000000ccfb26e157e87776cd053fbecf730d74fbb5f50a3acda30a5",
  "difficulty": 193699454.3116622,
  "mediantime": 1606554605,
  "verificationprogress": 0.9993560104103038,
  "chainwork": "0000000000000000000000000000000

[2020-11-29 11:18] UdjinM6 commented on #3840
Pls update to [v0.16.1.1](https://github.com/dashpay/dash/releases/tag/v0.16.1.1) and then [reconsider the fork block](https://github.com/dashpay/dash/issues/3836#issuecomment-735226848).

[2020-11-29 20:34] UdjinM6 commented on #3838
Smth isn't quite right with your wallet it seems. Save `wallet.dat` file (and `<datadir>/wallets/` folder if you have one) in some safe place. Check `<datadir>/backups/` folder if it has some older versions of the wallet saved. If it does, copy this folder in some safe place too. Next, try to send all your funds to some another wallet. If this fails, try picking the most recent wallet.dat from "ba

[2020-12-02 13:23] thephez commented on #3729
The [LLMQ types table](https://github.com/dashpay/dips/blob/master/dip-0006.md#current-llmq-types) in DIP 6 should be updated to add this new quorum once it has been implemented.

[2020-12-02 19:21] Jetro-Costa commented on #2284
Hello, what the variable strSporkAddress [At this line](https://github.com/dashpay/dash/blob/43d2973a0e89ac9435142d6379e664c0ec20b2a2/src/chainparams.cpp#L429)

[2020-12-03 22:52] PalmTreeVI opened #3848 "Wallet won't stay open Linux"
I upgraded wallet from Linux 15 to dashcore-0.16.1.1-x86_64-linux-gnu.tar.gz wallet.  Running ./dash-qt attempts to start and immediately closes.

To reproduce:
1. Open wallet and try again, not working.
2. Backup and delete ~/.dashcore and ~/.config/Dash folders
3. Retry, same thing
The create or restore wallet windows opens, I select new wallet, then the splash screen is visible, after a short w

[2020-12-04 02:22] UdjinM6 commented on #3848
So I downloaded and installed Manjaro 20.2 in VM and the first time I tried to run Dash Core 0.16.1.1 it didn't crash but it hanged in some limbo state, had to kill it with `-9`. I checked debug.log and found this:
[code]

However, when I tried to run it again it simply started as it should and I was not able to reproduce any issues since then.
<img width="1023" alt="Screenshot 2020-12-04 at 05 07

[2020-12-04 05:04] kxcd commented on #3848
Specifically the user had issue when using XFCE window manager. Can you confirm you were using that WM, udinM6?

[2020-12-04 08:51] UdjinM6 commented on #3848
@kxcd
<img width="1024" alt="Screenshot 2020-12-04 at 11 47 35" src="https://user-images.githubusercontent.com/1935069/101142355-8a302400-3626-11eb-8ce6-834f9b36a077.png">

[2020-12-04 09:52] xdustinface commented on #3848
@PalmTreeVI Besides what @UdjinM6 asked you to do, can you do some more things :)

1.  Run with `-debug=qt` and post the `debug.log` for that
2. There *should* be at least one working `x` value in the range 0-8 for `dash-qt -font-weight-normal=x -font-weight-bold=x` so can you try **all** x values like:

- `x=0` => `dash-qt -font-weight-normal=0 -font-weight-bold=0`
- ....
- ....
- `x=8` => `dash-

[2020-12-04 12:33] PalmTreeVI commented on #3848
I tried all of the above in same command and the wallet is now syncing!!!

`[user@pc bin]$ ./dash-qt -debug=qt -font-weight-normal=0 -font-weight-bold=0 -font-family=Montserrat`

On opening, after splash screen there was a panel to set fonts which I adjusted slightly and hit OK,I had tried the font-weight commands initially so I think the font-family command is the trick that made it work.

[2020-12-04 12:33] #3848 closed

[2020-12-04 13:03] UdjinM6 commented on #3848
@PalmTreeVI Glad it worked and thanks for reporting back with your findings! 👍

[2020-12-04 18:10] strophy opened #3850 "PrivateSend settings dialog GUI display bug"
The Settings > Options > PrivateSend dialog is drawing the up/down arrows incorrectly here. Notice how they are all pointing up instead of up/down, and the bold border around the field is pushing the arrows out of alignment with the field below:
![image](https://user-images.githubusercontent.com/32928115/101198386-42fa6f80-36c8-11eb-967f-e8805694bc0a.png)

Hovering over the arrows causes them to s

[2020-12-04 18:40] xdustinface commented on #3850
@strophy Fixed the arrow directions in #3851. Im aware of the slightly wrong alignment of the arrows in the hover/selected states but couldn't find a solution in reasonable time when i digged into so i decided to not waste a lot more time with it at that point because its imo just a nit. But lets see, maybe someone else will come up with an idea/solution there.

[2020-12-04 20:06] UdjinM6 commented on #3850
Oh, wow! Is this a Windows only issue? Cause I don't see anything like that here on mac.

[2020-12-04 20:08] xdustinface commented on #3850
It's a light mode only issue 😄

[2020-12-04 20:12] UdjinM6 commented on #3850
WAT? There is a Light mode in our wallet? :trollface:

I see now, thanks :)

[2020-12-04 23:29] strophy commented on #3850
Thanks for the quick work guys! Fixing the direction is good enough for me, can close unless you want to keep open to deal with the alignment issue another day :+1:

[2020-12-09 20:55] PastaPastaPasta opened #3864 "regression test: add test for filtering in `masternode winners`"
See https://github.com/dashpay/dash/pull/3856

[2020-12-15 21:27] PastaPastaPasta opened #3876 "v0.17.0.0-rc1 (now RC2) Release Process"
v0.17.0.0-rc1 Release Process

Tag the Release

- [X]     Tag v0.17.0.0-rc1 and push (https://github.com/dashpay/dash/tree/v0.17.0.0-rc1) (https://github.com/dashpay/dash/releases/tag/v0.17.0.0-rc2)

Check CI

- [X]     Validate that CI passes (rc1 [travis wip](https://travis-ci.org/github/dashpay/dash/builds/749895768) / [gitlab passed](https://gitlab.com/dashpay/dash/-/pipelines/230379331)) (rc2

[2020-12-20 23:57] ManageableIT opened #3891 "Dash V.16.1 Http workqueue errors with MPOS"
Since update 16 the Linux daemon is terribly slow, i use MPOS with NOMP to accept mining.
MPOS is not MNAuth compatible yet and uses rpc username and password.
After updating to V16 when i start the node.js (stratum) everything turns really slow. every command i request with cli takes 6 minutes or longer and the debuglog is getting full of errors saying work queue depth exceeded.
It takes 45 minut

[2020-12-21 01:49] ManageableIT commented on #3891
did some test, even with my workload higher (128) the rpc calls are terribly slow (7 minutes voor getblockchaininfo 49 minutes for starting stratum) somehow rpc user en password blow up HTTP server

[2020-12-21 15:23] ManageableIT commented on #3891
@UdjinM6 @codablock @PastaPastaPasta  Do you guy's have any idea, i went through half the code still cannot find why http request hang on rpc calls

[2020-12-23 16:18] sidhujag opened #3898 "subgroup attack on BLS12-381 DKG"
It came to my attention that there is a new discovered attack on DKG using BLS12-381 which Dash uses. The severity depends on your expertise but from my analysis it is not totally critical from my understanding of chainlocks/pose, it may be to instantsend/privatesend because I never looked at that code. Anyways here is a document outlining the attack pls see if it is relevant and to what extent. I

[2020-12-27 22:06] PastaPastaPasta commented on #3729
@thephez Would you like to do so?

[2020-12-27 22:08] #3840 closed

[2020-12-27 22:09] #3836 closed

[2020-12-27 22:09] #3608 closed

[2020-12-28 09:05] omershlo commented on #3898
Hi everyone, I am the author of the above doc.
I want to chip in if I may - here is my main question: can someone who is familiar with the code confirm that EC points sent between nodes are checked to be in the subgroup of prime order of bls12-381?

If the answer is "yes" - I would love to get a pointer to the relevant part in the code to double check.
The attack described above is new and undermi

[2020-12-28 17:50] forro68 commented on #1379
Is there any chance this could be included in 0.17?

[2020-12-28 17:55] forro68 commented on #3469
Depends on [#1379](https://github.com/dashpay/dash/issues/1379).

[2021-01-01 06:22] qwizzie opened #3909 "v0.17.0.0 RC2 adds empty 'blocks' folder outside testnet3"
### Describe the issue

Upgraded from v0.16 to v0.17.0.0 RC2 by downloading and replacing dash-qt.exe
'testnet3' folder with the blockchain inside therefore already exists from previously testing v0.16.
Upon running v0.17.0.0. RC2 the wallet makes an empty 'blocks' folder outside the 'testnet3' folder.

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:

[2021-01-01 15:39] qwizzie opened #3910 "v0.17.0.0 RC2 PrivateSend Denominate Transactions visible in Overview tab - Recent Transactions"
### Describe the issue

PrivateSend Denominate Transactions are once again visible in the Overview - Recent Transactions section, i thought we already fixed this in v0.16 but it re-appeared in v0.17.0.0 RC2

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:

1. Mix some coins
2. See PrivateSend Denominate Transactions emerge in the 'Recent Transactions

[2021-01-01 16:01] qwizzie commented on #3910
After further investigation this appears to be all PrivateSend mixing transactions from a previous version (v0.16.0.0 RC2) and
this has not ocurred anymore after i updated to v0.17.0.0 RC2 and done some mixing.

So i am closing this issue.

[2021-01-01 16:01] #3910 closed

[2021-01-04 22:04] sidhujag commented on #3898
will work with developers on discord and resolve this there thanks :)

[2021-01-04 22:04] #3898 closed

[2021-01-10 13:50] William-McConville commented on #3344
I'm having the same problem.  I'm running Ubuntu 20.04.1 LTS and my computer is using an NVIDIA GeForce GTX 1650 graphics card.  My resolution is at 1920x1080.  What is really strange is that when I first installed the qt wallet a couple weeks ago, it was the correct size.  Then I did some updates, installed some wallets for some different cryptos, and changed my screen background image, and sudde

[2021-01-11 18:09] #3729 closed

[2021-01-11 18:10] #3648 closed

[2021-01-18 20:10] thephez opened #3951 "Indicate if an HD wallet uses any non-HD keys"
### Describe the issue
There is no easy way to tell if an HD wallet's balance is entirely contained on HD-keys as opposed to ones imported via `importprivkey` or ones that were present before a wallet upgrade for example. This could be important to know for backup purposes, etc.

### Expected behaviour
Would be nice to have an RPC and/or GUI way to determine if the wallet balance was completely in

[2021-01-21 11:03] Khaos-Labs opened #3957 "TESTNET3 ISSUE"
The problem of synchronization block in test network is checkforkwarning conditions:
warning: found invalid chain at learn ~ 6 blocks longer than our best chain

2021-01-21 11:00:29 ERROR: AcceptBlockHeader: block 00000674c5269b59d6d3bb6bb08b58add4b3e0eab11136be47bb8e0d4ec86e69 is marked invalid

Execution by command ： ./dash-cli -conf=dashcoin.conf reconsiderblock 00000674c5269b59d6d3bb6bb08b58ad

[2021-01-22 16:36] sidhujag opened #3960 "ProcessRecoveredSig bug?"
nothing critical but I think this line:

https://github.com/dashpay/dash/blob/develop/src/llmq/quorums_signing.cpp#L703

should be:

`auto otherSignHash = CLLMQUtils::BuildSignHash(*otherRecoveredSig);`

[2021-01-25 11:06] wangke0809 commented on #3957
I met the same question.

[2021-01-25 13:46] thephez commented on #3957
It seems you may not be running the latest RC (0.17.0-RC2: https://github.com/dashpay/dash/releases/tag/v0.17.0.0-rc2). The v17 BIP9 activation on testnet happened at block 414100 and likely forked your client off due to it being an outdate version. The block hash you list is for block [414106](https://testnet-insight.dashevo.org/insight/block/00000674c5269b59d6d3bb6bb08b58add4b3e0eab11136be47bb8e

[2021-02-03 21:00] thephez opened #3979 "Enhancement: Add most recent ChainLock height/time to info screen"
### Describe the issue
Would be convenient to show info about the most recent ChainLock on the Tools->Information screen.

### Expected behaviour
List block height/hash and time of most recent ChainLock in the "Block chain" section for easy reference.

[2021-02-06 22:46] yussefsoudan opened #3991 "feeHash TX meaning"
Hi there!

This is a technical question - not an issue - as I was unable to get any replies on the [subreddit here.](https://www.reddit.com/r/dashpay/comments/l4wo67/what_is_ncollateralhash_in_governanceobjectcpp/).

I'm trying to figure out how are proposals ranked if there's a tie in the number of votes they received. I am particularly asking about the initial ranking of passed proposals, not wh

[2021-02-06 23:07] UdjinM6 commented on #3991
[The answer by Antti-Kaikkonen](https://www.reddit.com/r/dashpay/comments/l4wo67/what_is_ncollateralhash_in_governanceobjectcpp/gkrrdfb/) is the correct one - it's `the txid of the 5 dash proposal fee transaction`.

[2021-02-06 23:24] yussefsoudan commented on #3991
So, does that mean if there's a tie then the first project proposed is prioritized? Or would it be random?

[2021-02-06 23:38] UdjinM6 commented on #3991
It means that if there is a tie then proposals are compared by txids (transaction hashes) of their proposal fee txes. There is no way to have two identical txids in two different proposals, so you can be pretty sure that it's always deterministic.

[2021-02-06 23:41] yussefsoudan commented on #3991
Thanks for your quick response! I basically meant to ask if the hash of the proposal fee takes the timestamp of submission into consideration at all? And if that's the case, does a larger feeHashTx value indicate anything about the time it was submitted?

[2021-02-06 23:44] UdjinM6 commented on #3991
No, there is no timestamp or block height or anything like that. It's a pure tx hash you can see in block explorers etc., just a huge randomly looking (yet deterministic) number.

[2021-02-06 23:50] yussefsoudan commented on #3991
Got it - thanks so much!

[2021-02-06 23:50] #3991 closed

[2021-02-07 19:37] splawik21 opened #3992 "Labeling on the addresses does not work."
I was testing the MNs on testnet when realized that the rewards which arrive and are seen on the tx history tab are the alfanumeric addresses even though on the moment of requesting the label has been given.
![BC018695-79FA-4D42-AB8B-7E0E229F4C95](https://user-images.githubusercontent.com/14001049/107157539-df6d1680-6984-11eb-9fbd-53631ecdf86b.png)
![EFCFD7F7-3EA7-490A-9CEA-28246AAA8B63](https://u

[2021-02-13 17:47] BlockMechanic opened #3998 "aarch64 build fails"
@PanderMusubi can you verify [this branch](https://github.com/strophy/dash/tree/armv7l-support) builds for you? We can then close this issue and I'll work on support for building under `aarch64` separately.

_Originally posted by @strophy in https://github.com/dashpay/dash/issues/2562#issuecomment-451048517_
Hello, i note the above quoted text
Was an aarch64 build ever managed ? Despite adding rel

[2021-02-13 22:32] strophy commented on #3998
I cannot reproduce this with the latest `develop` branch on a Raspberry Pi 4 with [these instructions](https://github.com/dashpay/dash/blob/develop/doc/build-unix.md). The build completes without errors. Note that the build artifacts from building `depends` may be in the `depends/aarch64-unknown-linux-gnu` dir instead of `depends/aarch64-linux-gnu, depending on your distro.

Please provide more de

[2021-02-14 09:30] BlockMechanic commented on #3998
Please note I am building for `aarch64-linux-android` not `aarch64-linux-gnu` It appears the issue is from ndk see https://github.com/android/ndk/issues/190 for details. I will continue to try and update

[2021-02-14 12:50] BlockMechanic opened #3999 "Code issue :"
Browsing in the code i found this :- https://github.com/dashpay/dash/blob/43d2973a0e89ac9435142d6379e664c0ec20b2a2/src/rpc/rawtransaction.cpp#L929

ProduceSignature is boolean, shouldn't we check if it's true/false here accordingly ?

https://github.com/dashpay/dash/blob/43d2973a0e89ac9435142d6379e664c0ec20b2a2/src/script/sign.h#L70

[2021-02-14 23:33] #3876 closed

[2021-02-15 02:50] PastaPastaPasta opened #4000 "Bitcoin Backports"
Bitcoin Backports are an incredibly valuable part of Dash's development. Backporting allows us to easily implement new features, improvements and fixes as bitcoin implements them.

### Current Status

- [X] Bitcoin v0.16
- [ ] Bitcoin v0.17
- [ ] Bitcoin v0.18
- [ ] Bitcoin v0.19

To see detailed statistics & progress see Google Sheet tracker: https://docs.google.com/spreadsheets/d/1DnKxat0S0H62CJ

[2021-02-18 03:52] 1scrooge opened #4006 "Testnet node is stuck at block 419438"
Hey there.
My testnet node is stuck at block 419438. I've tried to resync from scratch, but the same problem

### Version:
Dash Core - 0.16.1.1
Insight-api - 3.1.1

### Machine specs:
- OS: Ubuntu 18.04
- CPU: 4 core
- RAM: 8 Gb
- Disk size: 100 Gb
- Disk Type (HD/SDD): SSD

### Dash config:
[code]
Logs from Insight-api:
[code]
debug.log
[code]
Any ideas?

[2021-02-18 03:54] PastaPastaPasta commented on #4006
Testnet has forked. Please run v0.17.0.0-rc3.

[2021-02-18 04:20] 1scrooge commented on #4006
@PastaPastaPasta Thank you. It helped

[2021-02-18 04:20] #4006 closed

[2021-02-21 20:08] bohdanyurov-gl opened #4011 "Support blocksdir and walletdir"
Looks like there is no support for overriding blocks and wallets directories. Can we add those as options?

Relevant bitcoin issue:
bitcoin/bitcoin#14595

[2021-02-22 13:34] thephez commented on #4011
You can use `-wallet` or `-walletdir` to set wallet location. See [here](https://dashcore.readme.io/v0.17.0/docs/dash-core-wallet-arguments-and-commands-dashd#wallet-options) for all options (this is the same info as you get from running `-help`).

0.17 (currently on testnet) [adds `-blocksdir`](https://dashcore.readme.io/v0.17.0/docs/dash-core-wallet-arguments-and-commands-dashd#options).

[2021-02-22 15:26] bohdanyurov-gl commented on #4011
Thanks, I will wait for  0.17.

[2021-02-22 17:08] thephez commented on #4011
The current RC is available here if you want to check it out: https://github.com/dashpay/dash/releases/tag/v0.17.0.0-rc3

[2021-02-23 20:07] PanderMusubi commented on #3998
On 32 bit Raspberry Pi OS Buster I can confirm that the following works:

    sudo apt-get install curl build-essential libtool autotools-dev automake pkg-config python3 bsdmainutils cmake
    cd depends
    make -j
    cd ..
    ./autogen.sh
    ./configure --prefix=`pwd`/depends/armv7l-unknown-linux-gnueabihf
    make -j

The host triplet I got from the result of the first `make -j`. Omitting th

[2021-02-27 15:32] yshurik commented on #4006
It looks as not fixed in official docker - dashpay/dashd:0.17.0.0-rc3-hotfix1 - is this one should include the solution? Because this docker image just stuck on testnet block 419438 of Feb 15 20:00 ... :( same as dashpay/dashd:latest

[2021-02-27 19:57] 1scrooge commented on #4006
I'm using the own docker image. I've never tested the official image. If you need I can send the dockerfile

[2021-02-28 11:20] yshurik commented on #4006
I can, but really want to just run for testnet official docker :latest +watchtower and expect it always in sync, this is purpose of official image :) isnt

[2021-03-11 05:48] farsider350 commented on #2719
https://github.com/codablock/bls-signatures/archive/v20181101.zip is no longer available. Where to find?

[2021-03-11 07:49] UdjinM6 commented on #2719
@farsider350 please use https://github.com/dashpay/bls-signatures/archive/v20181101.zip

[2021-03-23 16:00] #3740 closed

[2021-03-23 16:09] thephez commented on #3521
Still had this issue with e20dc9f37

[code]

[2021-03-26 15:19] sidhujag commented on #3960
ack

[2021-03-26 15:19] #3960 closed

[2021-04-01 14:58] gituser opened #4080 "Signrawtransaction is not working on v17.0.0.0-rc3"
### Describe the issue
If you try to use deprecated `signrawtransaction` it won't work on new version `v17.0.0.0-rc3`, but `signrawtransactionwithwallet` works.

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. Add another wallet to your dash instance with `./dash-cli createwallet test`
2. Add `deprecatedrpc=signrawtransaction` into your dash.conf

[2021-04-01 15:01] gituser commented on #4080
Ping @PastaPastaPasta @UdjinM6

[2021-04-04 16:48] slavadba opened #4082 "Block sync stopped at 1379127 - solustion not helped!"
Hi,

Dash Core version v0.15.0.0 (64-bit)

I stuck on synchronized at 1379127 block.
Tried two things:
1)  from dedug console
reconsiderblock 000000000000000afecd3ab8c45c69bcf9556a8b2c871cb15ed51d9457bd703d

2) from dedug console

getbestblockhash

15:26:51
?
000000000000000ccfb26e157e87776cd053fbecf730d74fbb5f50a3acda30a5

15:27:05
?
reconsiderblock 000000000000000ccfb26e157e87776cd053fbecf730d74

[2021-04-04 19:53] UdjinM6 commented on #4082
v0.15.x and older versions can no longer sync due to a [hard-fork activated in v0.16](https://github.com/dashpay/dash/blob/v0.16.0.1/doc/release-notes.md#block-reward-reallocation). Please download the latest release (v0.16.1.1) either from the [Releases section](https://github.com/dashpay/dash/releases/tag/v0.16.1.1) here on GitHub or from the [Downloads page](https://www.dash.org/downloads/) on

[2021-04-11 04:09] Jaysonspears opened #4094 "156sZdThWXcBHf7Wjnv2Y5PZPosF61uBeA"

[2021-04-11 04:09] #4094 closed

[2021-04-12 12:49] thephez commented on #1552
@PastaPastaPasta This was never resolved

[2021-04-13 08:13] Volodia12 opened #4096 "Что делать??"
This issue tracker is only for technical issues related to Dash Core.

General Dash questions and/or support requests and are best directed to the [Dashpay Reddit](https://www.reddit.com/r/dashpay/).

To report critical security issues, email infosec@dash.org and/or see the DASH bug bounty program on [Bugcrowd](https://bugcrowd.com/dashdigitalcash) instead of creating Github issues.

### Describe

[2021-04-14 17:10] #4096 closed

[2021-04-30 15:09] lbphp opened #4127 "[Raspberry] Undefined reference to `HelpMessage[abi:cxx11](HelpMessageMode)"
Hello, i have compiled the depends, then sun autogen and
`
./configure --prefix=$(pwd)/depends/armv7l-unknown-linux-gnueabihf --without-wallet --disable-wallet --disable-zmq --disable-upnp --without-miniupnpc --disable-rust`

But the make gives me these  link errors:
[code]

This is my system
[code]

How can i solve this?
Thanks

[2021-04-30 19:23] #4127 closed

[2021-04-30 21:36] PastaPastaPasta commented on #4127
Did you figure it out? If so please comment what you did etc

[2021-05-01 08:57] lbphp commented on #4127
No i didn't. I figured out i can work with Electrum Dash so i don't need the Core wallet.

[2021-05-07 02:25] taw00 opened #4143 "dashcore 0.17.0.0 RC4 - relic fails to build on Fedora 34 (libgcc-11.1.1)"
As y'all know, I have been building dash core for years now on Fedora. Fedora 34 was released April 27th.
Building 0.17 fails because, I think anyway, relic is not compatible with gcc-11.1.1? (libgcc-11.1.1-1.fc34.x86_64.rpm)

The error:
[code]

I will continue to experiment, but, that is what the problem looks like to me.

[2021-05-07 09:48] UdjinM6 commented on #4143
pls try #4144

[2021-05-10 17:21] PastaPastaPasta opened #4145 "v0.17.0.0 Release Process"
v0.17.0.0 Release Process

Note: see https://github.com/dashpay/dash/issues/3775 for planned date of release

- [x] Update translations, see translation_process.md (#4137).
- [x] Update manpages, see gen-manpages.sh.

Before every minor and major release:
- [x] Update bips.md to account for changes since the last release (assigned @thephez) (#4149).
- [x] Update version in configure.ac (don't forg

[2021-05-11 17:50] thephez commented on #4145
@PastaPastaPasta See #4149 for bips.md update

[2021-05-20 10:03] UdjinM6 commented on #3521
Fixed by #4081

[2021-05-20 10:03] #3521 closed

[2021-05-20 13:33] breadsax opened #4168 "Build Error on Ubuntu 20.04 With Release 0.17.0.2"
I cloned the repo and was able to build the depends directory successfully.

I then cd .. to the dash directory and ran ./autogen.sh and ./configure --prefix=`pwd`/depends/x86_64-pc-linux-gnu --with-incompatible-bdb

I get to this point and receive the following error:

  CXXLD    libdashconsensus.la
/usr/bin/ld: /home/alt/dash/depends/x86_64-pc-linux-gnu/share/../lib/libbls-dash.a(libsodium_la-ra

[2021-05-20 17:19] UdjinM6 commented on #4168
Pls try patching it like that
[code]
and see if it helps.

(make sure to run `make clean` in `dash/` before running `make` again)

[2021-05-21 04:04] breadsax commented on #4168
I did not have luck with this patch, unfortunately.

The code compiled successfully with master branch before pushing the code for release.

The only change above you suggested was to add export CIBUILDWHEEL=1 && \    in the location above, is that correct?

I'm certain it is more difficult to compile since we are doing deterministic builds by default and I don't see other instructions for local b

[2021-05-21 05:27] BlockGardener commented on #4168
I receive the same error message on Ubuntu 18.04.

I tried the suggested fix with the same result.

Compiling with -fPIC results in the same error message.

[2021-05-21 10:34] UdjinM6 commented on #4168
Pls note that you need to rebuild depends and clean/rebuild src after the patch i.e. `make -C depends/ && make clean && ./autogen.sh && make`

[2021-05-21 13:42] breadsax commented on #4168
@UdjinM6 I did actually rebuild the depends and tried again ./autogen.sh and ./configure --prefix=pwd/depends/x86_64-pc-linux-gnu --with-incompatible-bdb and make -j4

Still same error

[2021-05-21 14:52] gituser commented on #4168
Having same issue as @breadsax on Ubuntu 18.04.

This https://github.com/dashpay/dash/issues/4168#issuecomment-845309340 doesn't help.

[2021-05-21 20:21] AshFrancis opened #4171 "Wallet can pay multiple of same bip70 invoice simultaneously"
### Describe the issue
When you click a DASH:URI you can load the same transaction multiple times into the wallet, even if it is a bip70 invoice.

Also the QT wallet doesn't respect &nbsp; spaces but mobile wallets do.

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. Click on a bip70 invoice multiple times with a dash: URI (see video)

### Expecte

[2021-05-21 21:33] Watcom opened #4172 "Segmentation fault v0.17.0.2"
Hello guys, I'm getting this:

[code]
I compiled it from master and it went smoothly. I'm using Gentoo with gcc 10.3.0 and clang 11.1.0 (not sure which dash builds with by default).

`gdb --args src/qt/dash-qt`
Thread 1 "dash-qt" received signal SIGSEGV, Segmentation fault.
operator() () at qt/guiutil.cpp:1395
1395            QFont::Weight bestWeight = *it;

![gdb-dash-crop](https://user-images.gi

[2021-05-22 10:30] UdjinM6 commented on #4168
Pls try #4174

[2021-05-22 11:20] gituser commented on #4168
@UdjinM6 https://github.com/dashpay/dash/pull/4174 fixed this issue for me.

[2021-05-22 21:54] breadsax commented on #4168
Confirmed, this is fixed with that patch above.

[2021-05-23 10:15] UdjinM6 commented on #4172
Pls try #4175

[2021-05-23 13:11] Watcom commented on #4172
That fixes the issue, cheers!

[2021-05-23 13:11] #4172 closed

[2021-05-23 18:01] #4168 closed

[2021-05-23 18:02] PastaPastaPasta commented on #4168
Thanks for reporting this issue :)

[2021-05-24 18:09] xdustinface commented on #4168
Hmm i don't think #4174 is the best way to fix this. Even though it works, `libsodium` shouldn't be required here as dependency because we set custom allocators/deallocators here https://github.com/dashpay/dash/blob/79a1b1aa47459c3c14f675c65822e9d3709a47e8/src/bls/bls.cpp#L393

I assume the issue here is that @breadsax and @gituser have `libsodium-dev` installed locally which is a shared lib and c

[2021-05-24 19:45] gituser commented on #4168
@xdustinface your patch works.

I've got indeed `libsodium-dev` installed on my local machine where I build dash.

[2021-05-25 16:51] #3509 closed

[2021-05-25 16:52] PastaPastaPasta commented on #1332
Unity is no longer used. Closing

[2021-05-25 16:52] #1332 closed

[2021-05-26 20:03] #4145 closed

[2021-06-01 16:10] #2644 closed

[2021-06-01 16:11] PastaPastaPasta commented on #2076
Closing as this has seen no updates in 2 years. Please reopen this issue if it's still a problem

[2021-06-01 16:11] #2076 closed

[2021-06-01 16:16] PastaPastaPasta commented on #3039
Resolved

[2021-06-01 16:16] #3039 closed

[2021-06-01 16:21] PastaPastaPasta commented on #3344
Is anyone still having issues here?

[2021-06-01 16:22] #3550 closed

[2021-06-01 17:57] timucin commented on #3344
I did not tried with the new version yet.
But on another linux machine, when I install new one, it works fine.
I think the issue is for upgrades.

[2021-06-02 01:35] bitterseed commented on #3344
Issue still exists for me on my existing installation
Created a new user and the same issue exists on that installation too

[2021-06-02 14:31] akhavr commented on #3344
With 0.17.0.2 it's still the same

[2021-06-25 01:29] PastaPastaPasta opened #4211 "Release Schedule for v18.0.0"
Here is a proposed release schedule for v18.0.0, the next major release of Dash Core.

## 2021-10-12

- Soft Feature freeze (no new ideas, any merged PRs should implement an open issue)
- Soft translation string freeze (no large or unnecessary string changes until release)
- Start RC cycle, tag and begin building v18.0.0-rc1
- Open Transifex translations for 0.18
- Split off v18.x branch from deve

[2021-06-25 01:29] #3775 closed

[2021-06-25 13:56] thephez commented on #4211
We need to make sure Sentinel isn't forgotten somewhere. Probably in the actual checklist I suppose

[2021-07-09 17:41] #3850 closed

[2021-07-09 17:43] #4082 closed

[2021-07-09 18:06] PastaPastaPasta commented on #4011
Resolved with 0.17 release

[2021-07-09 18:06] #4011 closed

[2021-07-10 15:31] PastaPastaPasta commented on #4080
Thank you for reporting this. The issue is now fixed in develop, and will likely be released in a new minor release

[2021-07-10 15:32] #4080 closed

[2021-07-10 15:36] PastaPastaPasta commented on #3999
I don't think this is a problem. Especially now that signrawtransaction is deprecated

[2021-07-10 15:36] #3999 closed

[2021-07-10 15:40] PastaPastaPasta commented on #3992
Has been fixed

[2021-07-10 15:40] #3992 closed

[2021-07-10 15:41] #3957 closed

[2021-07-10 15:44] PastaPastaPasta commented on #3891
@ManageableIT does this issue still occur for you? I doesn't sound like anything I've experienced

[2021-07-10 15:46] ManageableIT commented on #3891
hey @PastaPastaPasta
Yes it does, weirdly enough, we have tried so much things but still did not figure out why we get this sudden behavior

[2021-07-10 15:47] PastaPastaPasta commented on #3998
I don't understand the actual issue here. @BlockMechanic please provide more details of your environment (OS, etc)

Is this issue still occuring? Does it happen when building depends, or when building src?

At this point android builds aren't REALLY supported, so I wouldn't be surprised if there are issues that need to be solved.

[2021-07-10 15:47] PastaPastaPasta commented on #3891
What version are you running? Have you upgraded to v17? What if you downgrade to v15 does that fix it?

[2021-07-10 15:48] PastaPastaPasta commented on #3909
@thephez please confirm this

[2021-07-10 15:49] ManageableIT commented on #3891
i tried it on V14, V15 en V16

[2021-07-10 15:49] PastaPastaPasta commented on #3838
Closing as no comment in 6+ months. Please reopen if you have additional isseus

[2021-07-10 15:49] #3838 closed

[2021-07-10 15:52] #3778 closed

[2021-07-10 15:56] PastaPastaPasta commented on #3586
Closing due to no response

[2021-07-10 15:56] #3586 closed

[2021-07-10 16:44] PanderMusubi commented on #3998
I ended up here for builds on Raspberry Pi.

[2021-07-10 16:45] PastaPastaPasta commented on #3891
Please try v17. Also, does downgrading fix the performance issue?

[2021-07-14 23:42] PastaPastaPasta opened #4253 "[CI] Implement Github Actions building for Dash"
See bitcoin#17697, bitcoin#17726, bitcoin#17735 and bitcoin#17793

The same idea should be implemented for Dash, potentially reusing code / workflows as needed

[2021-07-17 09:24] yixiao5428 opened #4269 "Possible privacy leakage due to ordered transaction inputs"
This is a security vulnerability.

The wallet uses ordered inputs of transactions (`src/wallet/wallet.cpp`, [line 3730 - 3737](https://github.com/dashpay/dash/blob/master/src/wallet/wallet.cpp#L3730-L3737)), which may incur privacy risks like fingerprinting the wallet to observers.

A possible solution is to not only clear the original order, but also shuffle it, then push back the new order befor

[2021-07-17 18:24] PastaPastaPasta commented on #4269
Thanks for your issue

I believe this is not an issue as we sort inputs / outputs based on BIP69. See https://github.com/dashpay/dash/pull/3527#discussion_r439844759 and https://github.com/dashpay/dash/blob/master/src/wallet/wallet.cpp#L3868

[2021-07-18 07:14] BlockMechanic commented on #3998
@PastaPastaPasta
Enviroment :- ubuntu 20.04 droplet with 4GB ram
all other dependencies are downloading and compiling just fine, as i mentioned earlier the issue is likely the failure to configure for the aarch64-linux-android triplet

[2021-07-18 21:59] PastaPastaPasta commented on #3998
Hey, @BlockMechanic if you can provide me a bitcoin PR to backport or something like that, we can maybe get this fixed

[2021-07-19 13:46] BlockMechanic commented on #3998
@PastaPastaPasta

https://github.com/bitcoin/bitcoin/pull/16110 This added android NDK support

[2021-07-22 16:03] strophy opened #4287 "gui: text truncated during sync"
### Describe the issue
Text is truncated in Dash Core 0.17.0.3 under Linux during sync

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. Start Dash Core on testnet
2.
3.

### Expected behaviour
Text not truncated

### Actual behaviour
Text is truncated

### Screenshots.
![image](https://user-images.githubusercontent.com/32928115/126670310-3d792550-

[2021-07-23 17:17] andrewtookay opened #4290 ""quorum dkgstatus" displays the mineable commitments of the last mined block"
As stated in the title the command "quorum dkgstatus" displays the mineable commitments at the height of the chainActive tip rather than for the next block to be mined. Is this behavior intentional?

When the last block before dkgMiningWindowStart is reached this method still displays an empty array of "mineable commitments" and it can be rather confusing as the next block always contains a qcTx,

[2021-07-26 16:04] PastaPastaPasta opened #4291 "Implement DIP Transaction value signing analogous to BIP143 as implemented in Bitcoin Cash"
See https://github.com/dashpay/dips/pull/95/

Abstract:
This DIP describes a digest algorithm that implements the signature covers value when signing Dash transactions. It opens the path for more efficient signing of Dash transactions on hardware wallets.

The proposed digest algorithm is adapted from BIP143 as it minimizes redundant data hashing in verification, covers the input value by the sign

[2021-07-26 16:08] PastaPastaPasta opened #4292 "Adjust Devnet difficulty adjustment, do not use BTC dif. adjustment for first 4032 blocks"
Currently Devnets do not adjust their difficulty for the first 4032 blocks, which is unexpected behavior. This should be modified such that Dash's difficulty adjustment (DGW) algorithm is in effect starting at the beginning of a devnet. No changes should be applied to the logic of Mainnet or Testnet.

[2021-07-27 15:19] PastaPastaPasta commented on #894
Closing, this is more appropriate for something like a DIP. Please create a DIP with the standard, then an implementation here can be considered

[2021-07-27 15:19] #894 closed

[2021-07-27 18:21] #4269 closed

[2021-07-28 01:43] PastaPastaPasta commented on #3311
@strophy Have these been fully resolved? I believe so, but please reopen if I'm wrong

[2021-07-28 01:43] #3311 closed

[2021-08-03 16:05] linuxsh2 commented on #3576
@PastaPastaPasta I'd like to grab this issue if no one is working on it.

[2021-08-03 16:46] PastaPastaPasta commented on #3576
Sounds good, consider it yours :)

[2021-08-05 06:35] c0deright opened #4320 "[0.16.1.1] ProcessSpecialTxsInBlock failed with bad-qc-type (code 16) -- Dashcore stops at 1516041, says 1516042 is invalid, assert-quits"
### Can you reliably reproduce the issue?
Didn't try yet.

### Expected behaviour
Dashcore should sync

### Actual behaviour
[code]

### What version of Dash Core are you using?
v0.16.1.1 with insight api

### Machine specs:
- OS: docker images node:8-slim
- CPU: Intel(R) Xeon(R) Platinum 8175M CPU @ 2.50GHz
- RAM: 8GB
- Disk size: enough
- Disk Type (HD/SDD): SSD

### Any extra information that m

[2021-08-05 07:16] c0deright commented on #4320
After upgrading dashcore to 0.17.0.3 (and the underlysing Docker node image to 10-slim) it synced without errors. Someone should have put in the release notes that 0.16.x instances MUST BE UPGRADED to 0.17.x because it's incompatible...

[2021-08-05 12:24] thephez commented on #4320
The current release notes indicate if upgrades are mandatory (https://github.com/dashpay/dash/blob/v0.17.0.2/doc/release-notes.md#dash-core-version-01702). We don't update earlier release notes when a new release comes out, but our [Product Briefs](https://blog.dash.org/updated-product-brief-dashcore-release-v0-17-339f739b5cfa) and [Release Announcements](https://blog.dash.org/release-announcement

[2021-08-05 13:19] c0deright commented on #4320
Might I suggest you put the one liner **This release is mandatory for all nodes.** not only in the release notes text files but also in the release notes under https://github.com/dashpay/dash/releases/

I don't see such a warning in https://github.com/dashpay/dash/releases/tag/v0.17.0.2 which could have prevented this situation today. As mentioned above, it looks like I'm not the only person who o

[2021-08-05 13:23] c0deright opened #4322 "Mention mandatory updates in github release announcements"
please delete

[2021-08-05 13:26] #4322 closed

[2021-08-05 13:27] c0deright commented on #4320
Thanks. Didn't see the mandatory warning in the github release annoucements. My bad.

[2021-08-05 13:27] #4320 closed

[2021-08-06 16:30] #3759 closed

[2021-08-11 18:37] linuxsh2 commented on #3576
@PastaPastaPasta This was done/merged in https://github.com/dashpay/dash/pull/4318

[2021-08-11 18:41] #3576 closed

[2021-08-12 17:29] gabriel-bjg commented on #3494
fyi: I'm planning to work on this soon.

[2021-08-12 18:48] PastaPastaPasta opened #4337 "Add DMT-like Governance Functionality"
Task:
	Add DMT Governance Functionality into the Dash-QT application.

	Add a new “Governance” tab in Dash-QT similar to the “Masternodes” tab in Dash-qt.
This tab should list all active proposals with relevant information such as.

When you double click on the proposal, it should open a new window (like double clicking on Masternode in Masternodes tab) that includes the output of `gobject get`

!

[2021-08-14 16:50] taw00 opened #4340 "backport namespace changes in support of newer bind and boost libraries"
I have had to patch dash core for a while now for [my builds](https://github.com/taw00/dashcore-rpm) in order to successfully build with newer boost and bind. Specifically, this patch:
https://github.com/taw00/dashcore-rpm/blob/master/SOURCES/dash-0.17.0.3-patch02-bind-namespace-errors.patch

Now, bitcoin upstream fixed this some time ago, but they also shifted to std::bind or some such. I.e., the

[2021-08-16 03:51] PastaPastaPasta opened #4342 "ci: Implement sanitizer usage in gitlab CI"
Implement the following sanitizers for usage in CI (both unit and functional tests)

See sanitizers under https://github.com/dashpay/dash/blob/master/doc/developer-notes.md#compiling-for-test-coverage

Sanitizer to implement
- [ ] thread
- [ ] undefined

[2021-08-17 20:45] dzutte-cpp commented on #4340
Fixed by #4343.

[2021-08-17 20:47] #4340 closed

[2021-08-18 00:59] vijaydasmp opened #4346 "Problem Cross-Compiling for Windows (Windows Subsystem for Linux)"
I attempted to cross-compile for windows  On Windows, using [Windows
Subsystem for Linux (WSL)](https://docs.microsoft.com/windows/wsl/about) and the Mingw-w64 cross compiler tool chain.
 It will not compile for me,
I followed steps mentioned in  doc\build-windows.md doc\build-cross.md depends\README.md

### Describe the issue

Tried Build using below steps:

1. sudo apt update
2. sudo apt upgrade

[2021-08-18 01:00] vijaydasmp commented on #2151
I am facing similar issue in WSL build https://github.com/dashpay/dash/issues/4346#issue-973178971

[2021-08-18 01:01] vijaydasmp commented on #4346
@codablock  @PastaPastaPasta Please can you have a look at it

[2021-08-18 02:30] vijaydasmp commented on #4346
marking it as closed , Issue got resolved after couple of make clean and make

[2021-08-18 02:30] vijaydasmp commented on #4346
marking it as closed , Issue got resolved after couple of make clean and make

[2021-08-18 02:30] #4346 closed

[2021-08-18 19:16] gabriel-bjg commented on #3494
There's a corner case that I do not know how to handle: when receiving a getheaders2 message with a null locator, but with a correct hashStop, is there any way at all to check if the peer has information about the previous block (the one before hashStop)?

[2021-08-23 20:17] KolbyML commented on #3580
I am pretty sure you can just run `sudo bash -c "echo 0 > /proc/sys/fs/binfmt_misc/status"` to get around this issue

[2021-08-26 19:43] lano1106 opened #4363 "Linking problem related to libzmq.so and libsodium.so"
I get the following output when compiling the project: v0.17.0.3

`
  CXXLD    dashd
/usr/bin/ld: /usr/lib64/libzmq.so: undefined reference to symbol 'sodium_free'
/usr/bin/ld: /usr/lib/libsodium.so.23: error adding symbols: DSO missing from command line
collect2: error: ld returned 1 exit status
make[2]: *** [Makefile:4886: dashd] Error 1
`

Does anyone has seen this before?
I'll try to compile m

[2021-08-28 22:22] lano1106 opened #4369 "torcontrol assumes that tor proxy is on the localhost"
When torcontrol executes ADD_ONION command, it uses the hardcoded localhost 127.0.0.1.

This only works if tor proxy is running on the same machine than dashd.

On a LAN setup sharing a single tor proxy for all the hosts on the LAN, this will fail with

`2021-08-28T21:48:01Z tor: Add onion failed; error code 513`

if the proxy is on a different machine.

A possible fix would be to use the bind add

[2021-08-29 14:27] lano1106 commented on #4369
I gave my idea a shot and it didn't fix the problem. I did tweak a little bit the logs to have more info. I printed the torcontrol reply first line instead of the error code. Here is what I got:

[code]

[2021-08-29 14:39] lano1106 commented on #4369
I found something interesting. With tor 0.4.6.7, the algorithm RSA1024 is not accepted anymore. The only choices are:

BEST or ED25519-V3

[2021-08-29 14:49] lano1106 commented on #4369
fixed by

https://github.com/bitcoin/bitcoin/pull/19954/commits/dcf0cb477699d11afd0ff37c8bfb2b1b4f7f1ee5

[2021-08-29 14:49] #4369 closed

[2021-08-30 01:06] christiancfifi opened #4376 "WSL fails to build depends if WSL appends Windows path"
### Describe the issue
Error while building depends on any branch,  persisting through a reinstall of WSL and Ubuntu:
```/bin/sh: 1: Syntax error: "(" unexpected```
Solved by configuring WSL to not append the Windows path to the Ubuntu path.  See bitcoin/bitcoin#10269. Maybe the latest WSL changed the path behaviour. Instead of the proposed fix on bitcoin a much cleaner approach is to add this to

[2021-08-30 01:23] christiancfifi commented on #4376
It looks like this is already accounted for when cross-compiling for windows from WSL, but not when building for linux from WSL, which isn't a supported way to build (although outside of this issue building for linux from wsl has been working just fine). So, you can close this or I can add the fix to the windows build docs if you want to keep support for linux builds on WSL.

[2021-08-30 02:59] PastaPastaPasta commented on #4376
I think if you'd like to create a PR adding a bit more info to the documentation, we'd be happy to consider it.

[2021-09-03 01:18] UdjinM6 commented on #3494
Why would we have to care about it? You should simply send the requested hashStop block just like you would do it with `getheaders` https://github.com/dashpay/dash/blob/master/src/net_processing.cpp#L2742-L2754 imo.

[2021-09-03 12:31] kittywhiskers commented on #4376
This was already addressed in https://github.com/dashpay/dash/pull/2939 but our Windows documentation is lagging behind (that's the thing with build systems, even if your codebase is older, your build system cannot be :P)

We _could_ just backport https://github.com/bitcoin/bitcoin/pull/11437 but read further and you will find...

...and now you see why backporting that alone is a bad idea

TL;DR:

[2021-09-04 10:20] gabriel-bjg commented on #3494
We should care as we may send the block header compressed (the block header having the hash `hashStop`) iff we know for sure that the client has the previous block. Should we keep it simple and always send the full header (uncompressed) for this case (i.e. null locator with valid `hashStop`)?

[2021-09-06 11:34] UdjinM6 commented on #3494
why is that? it's not our problem if the peer that requested this header doesn't have the previous one, it's peer's problem.

[2021-09-09 17:44] gabriel-bjg commented on #3494
Great! I wrongly supposed that we should somehow handle that situation and send uncompressed headers if the peer does not have the previous block. Thank you!

[2021-09-15 02:01] linuxsh2 commented on #4253
@PastaPastaPasta could you assign this one to me if no one is working on it?

[2021-09-19 21:29] thedecentralized opened #4444 "fatal error: bls-dash/bls.hpp: No such file or directory"
Hi, how are you? i have an error when trying to compile a trace to run a node, can you help me please?

![image](https://user-images.githubusercontent.com/83592440/133943583-f79beff6-7003-493b-9705-6f68ec87674a.png)

[2021-09-19 21:35] PastaPastaPasta commented on #4444
What process are you following building? Please follow the build guides found in the doc folder including building depends

[2021-09-20 00:10] thedecentralized commented on #4444
yes, i followed and even redid again but nothing came of it

one note is that the missing file "libdash_server_a-bloom.o" is not available on github

![image](https://user-images.githubusercontent.com/83592440/133947443-bebba9a6-dfd8-4784-89cc-d97ee0a67a1b.png)

[2021-09-20 00:11] PastaPastaPasta commented on #4444
What's your environment, OS, etc

What exactly were all the commands you ran?

[2021-09-20 00:19] thedecentralized commented on #4444
I use Zorin OS

I gave the following commands

./autogen

./configure --enable-debug --with-incompatible-bdb --with-gui=qt5

make -j4

[2021-09-20 00:22] PastaPastaPasta commented on #4444
Sooo... You didn't build depends?

[code]

[2021-09-20 00:23] thedecentralized commented on #4444
no, i will try now, thanks

[2021-09-20 00:29] #4444 closed

[2021-09-20 03:27] thedecentralized opened #4445 "Spork Address"
Hello, how is everything? I'm doing a fork to further study the dash and generate blocks for my network, how could I generate a spork address?

[2021-09-20 18:56] PastaPastaPasta commented on #4445
We don't spend much (if any) effort supporting forks. Spork addresses are just like any other address and are generated as such.
see: https://docs.dash.org/en/stable/developers/index.html#sporks, https://dashcore.readme.io/docs/core-api-ref-remote-procedure-calls-dash#spork

[2021-09-20 18:56] #4445 closed

[2021-09-20 21:04] PastaPastaPasta opened #4447 "Fix / investigate undefined sanitizer warnings during functional tests"
Steps:
[code]

It is very possible that some of these warnings should be suppressed, it is possible there are issues that should be fixed. Please investigate all relevant BTC PRs, it may make sense to backport those to fix the warnings. Feel free to reach out to me with any questions.

[2021-09-20 21:52] thedecentralized commented on #4445
thank you :)

[2021-09-21 16:09] pravblockc commented on #4447
I am going start investigating/working on this

[2021-09-28 21:45] pravblockc commented on #4447
The issue has been fixed(PR: https://github.com/dashpay/dash/pull/4451) and merged to develop branch

[2021-10-08 01:38] martin-braun opened #4496 "Solution and project files for Visual Studio on Windows"
Bitcoin Core offers [solution and project files for Visual Studio](https://github.com/bitcoin/bitcoin/blob/master/build_msvc/README.md) on Windows, now.

It would be nice if Dash Core could pull those and make them work, so the build process on Windows gets simpler.

[2021-10-08 01:41] PastaPastaPasta commented on #4496
Yes indeed :) This is on our radar, but it's not trivial to backport, and none of us use windows for development. If you (or anyone else) would like to work on it, we'd appreciate the PR, and we do have a bounty program for submissions. Specifically, bitcoin#11526 is the PR that implemented this for bitcoin

[2021-10-08 01:48] martin-braun commented on #4496
@PastaPastaPasta Thank you for your quick reply. I just realized that you provide CMakeLists.txt files. Afaik CMake generates solution and project files on Windows. Bitcoin Core doesn't support CMake, so it would make sense for them to commit solution and project files. Is my thinking correct that it should already be possible to generate those files for the Dash Core using CMake?

[2021-10-08 02:06] PastaPastaPasta commented on #4496
Our CMake file is not operational, it's really just to enable code complete features in ides like CLion (although one of our devs is looking into actually implementing CMake support)

[2021-10-09 15:46] martin-braun commented on #4496
@PastaPastaPasta Thank you for this piece of information, very useful to me. I think the best route is to bring CMake support to Dash Core, because it will solve this issue as well. Providing project and solution files manually is redundant when CMake serves the same and more.

[2021-10-10 00:16] PastaPastaPasta commented on #4363
I don't think any of us here use arch, so it's possible there are issues with building on arch, and we would support getting patches to fix those. Disabling ZMQ won't cause any issues, unless you plan to use ZMQ (zmq is useful for getting a 'notification' whenever an 'event' happens, we use it for blocks and transactions and the like. (See https://github.com/dashpay/dash/blob/master/doc/zmq.md for

[2021-10-10 10:22] gabriel-bjg commented on #4342
I will take this one, please assign it to me.

[2021-10-11 19:38] PastaPastaPasta opened #4505 "Implement support for P2SH payouts for proposals"
Proposal validation currently enforces that proposals can only payout to P2PKH addresses. Relax this restriction to allow all valid addresses. This will enable proposals to send funds directly to a multisig (or any other script). This will require activation via a hardfork, this will also require changes to sentinel.

[2021-10-22 19:56] pravblockc opened #4533 "Implement special transaction "mnhfsignal" before implementing the EnhancedHardfork(DIP23)"
DIP23 aims to implement updates/enhancement to the existing hardfork mechanism. As this is related to hardfork, it might break consensus rules in stage 2 activation process of DIP. The special transaction `mnhfsignal` needs to be available before the hardfork activation.
So, my thought is to implement/introduce mnhfsignal in v18.0 and EHF(DIP23) in the consecutive version.

[2021-10-23 22:47] PastaPastaPasta opened #4539 "Backport Merge #15226: Allow creating blank (empty) wallets (alternative)"
This has difficult conflicts in HD code. @UdjinM6 please take some time to implement this logic.

[2021-10-24 21:26] PastaPastaPasta opened #4542 "feature_llmq_is_cl_conflicts.py non-deterministic failure"
Steps to reproduce: `while python3 test/functional/test_runner.py --randomseed=0 feature_llmq_is_cl_conflicts.py; do :; done`

This will run the test until it fails. Output of the failure can be found here: https://gist.github.com/PastaPastaPasta/05448a5b62c0695cd718fe75e0203272

This may have been introduced by https://github.com/dashpay/dash/pull/3924, but am not sure

Seems to me that this fail

[2021-11-11 20:36] thephez commented on #4211
We should also make sure the relevant BTCPay stuff gets updated too...
 - https://github.com/btcpayserver/btcpayserver-docker/pull/509
 - https://github.com/btcpayserver/dockerfile-deps/pull/31

[2021-11-12 14:18] inmim commented on #3580
that was the ticket!

[2021-11-16 17:30] nycsha22222gd4zp5 opened #4574 "Seed фраза на coin wallet,"
This issue tracker is only for technical issues related to Dash Core.

General Dash questions and/or support requests and are best directed to the [Dashpay Reddit](https://www.reddit.com/r/dashpay/).

To report critical security issues, email infosec@dash.org and/or see the DASH bug bounty program on [Bugcrowd](https://bugcrowd.com/dashdigitalcash) instead of creating Github issues.

### Describe

[2021-11-16 17:31] PastaPastaPasta commented on #4574
Closing as issue body is simply the template.. Feel free to edit, and reopen

[2021-11-19 06:07] yixiao5428 opened #4578 "URI Argument Injection in Dash-Qt"
Since we've sent this by the Bug Bounty Program <https://www.dash.org/bug-bounty/> and <infosec@dash.org> but got no reply, we submit the same issue here.

## URI Argument Injection in Dash-Qt

We recently found and confirmed that Dash Core in the **latest release** (version `0.17.0.3`)  and earlier versions are affected by a [remote code execution vulnerability in Qt5-based GUI apps](https://www.

[2021-11-19 06:09] yixiao5428 opened #4579 "Potential Wallet Address Book Info Leakage"
Since we've sent this by the Bug Bounty Program <https://www.dash.org/bug-bounty/> and <infosec@dash.org> but got no reply, we submit the same issue here.
## Potential Wallet Address Book Info Leakage

Currently, **`dash-qt`** stores `wallet.dat` unencrypted in memory. Upon a crash, it may dump a core file that can be used to reconstruct the user's `wallet.dat`, including the private keys.

This i

[2021-11-19 18:56] PastaPastaPasta commented on #4579
bitcoin#15600 has been backported on July 13th, and will be included in 0.18 releases. IMO, this isn't a large enough concern to warrant a v0.17.0.4 release, as it requires local access to a running node.

This was backported in this commit: https://github.com/dashpay/dash/commit/8e8048e1c3a1ca1cf546128a59cab733d33c547a / this pr: https://github.com/dashpay/dash/pull/4251

Any other thoughts / con

[2021-11-19 19:02] PastaPastaPasta commented on #4578
Agree, would you like to backport 16578? (will be happy to reward you via Dash Incubator for that contribution)

If not, I'll get me / someone else to backport 16578

[2021-11-22 04:41] yixiao5428 commented on #4578
Sure. Glad to help. @CharesFang will work on this.

[2021-11-28 19:41] SecTec commented on #3739
IMHO I would include the PGP-keys fingerprints in the repository as part of the README.md and include the keys itself in the releases. This is basically how it is done right now.

What is more relevant to me is that the keys are signed by each other. Right now I have the issue that I paused to use Dash for a couple of years and right now the PGP-key in use does not match the keys I have. So from t

[2021-12-05 08:44] AlexWinstonPol opened #4608 "Dash"

[2021-12-06 14:04] CharesFang commented on #4578
Sorry for the delayed response.  When I was checking `dash` source codes in the `develop` branch, I found that other developers had backported the [PR#16587](https://github.com/bitcoin/bitcoin/pull/16578) of Bitcoin, and you can see the code changes in this [link](https://github.com/dashpay/dash/blob/develop/src/qt/dash.cpp#L198-L202). I am pretty sure that this vulnerability would be fixed when t

[2021-12-07 06:20] CharesFang opened #4611 "Vulnerable Settings for DoS Attack"
We recently checked the `Dash` project source codes and found an inappropriate service flag `NODE_BLOO ` was added as default, making dash nodes DoS attack targets, according to Bitcoin [PR#16152](https://github.com/bitcoin/bitcoin/pull/16152) shown below.

 We suggest that Bitcoin [PR#16152](https://github.com/bitcoin/bitcoin/pull/16152) should be backported for security considerations. And we ha

[2021-12-11 05:38] CharesFang opened #4616 "Backprots from Bitcoin"
We recently investigated the Bitcoin issues which are related to privacy protection, vulnerability patches, or security enhancements. We have also checked the `dash` source code. Results show that these issues and their PRs are not backported yet. Henceforth, we suggest that `dash` should backport the PRs listed below for the considerations of software security and integrity.

- [ ] Bitcoin [PR#17

[2021-12-11 23:24] PastaPastaPasta commented on #4616
Tracking for all backports is located in issue #4000

Also, numerous of the backports that you've mentioned have already been backported into dash core, including 17906, 15305, 15039 and 13808.

If you'd like to do any other of these backports, feel free.

[2021-12-16 20:37] pravblockc commented on #4533
The issue is fixed

[2021-12-16 20:37] #4533 closed

[2021-12-20 14:37] vijaydasmp opened #4630 "interface_zmq.py non-deterministic failure on linux-32 tests"
Steps to reproduce: while python3 test/functional/test_runner.py --randomseed=0 interface_zmq.py; do :; done

 Below is the stacktrace of the failure
2021-12-20T10:58:17.805000Z TestFramework (INFO): Generate 5 blocks (and 5 coinbase txes)
2021-12-20T10:59:17.901000Z TestFramework (ERROR): Unexpected exception caught during testing
Traceback (most recent call last):
  File "/builds/dashpay/dash/bu

[2021-12-20 14:37] vijaydasmp commented on #4630
@UdjinM6 @PastaPastaPasta

[2021-12-21 15:11] vijaydasmp commented on #4630
Now this test is deterministically failing on develop branch pipeline as well.

[2022-01-04 16:29] #4608 closed

[2022-01-04 22:32] #2345 closed

[2022-01-04 22:40] PastaPastaPasta commented on #1764
you should build as described in doc/build-*.md, including building depends as described

[2022-01-04 22:40] #1764 closed

[2022-01-04 22:43] PastaPastaPasta commented on #3611
seems to be fixed now

[2022-01-04 22:43] #3611 closed

[2022-01-17 06:28] CharesFang commented on #4616
- [ ] The Bitcoin [PR#16251](https://github.com/bitcoin/bitcoin/pull/16251) should also be considered to backport for improving signrawtransaction error reporting.

[2022-01-18 09:31] vuicoin-project opened #4666 "How to run ./dash-qt -devnet"
Hello
How to run ./dash-qt -devnet
Thank you

[2022-01-18 13:45] thephez commented on #4666
You can use the same basic approach as the dashd example shown on https://dashcore.readme.io/docs/core-examples-testing-applications#configuration.

[2022-01-30 09:47] marcel1974 opened #4673 "Exit daemon dashcore"
How to exit dashd properly without killing the process with kill. I dont want to corrupt the database
Most cli wallet daemons have an exit switch why not dashcore dashd.
Perhaps it was omitted for a reason, I would like to know.

letheand exit
ryod exit
monerod exit

Why not dashd exit

And yes I did google it for some time..
Best Regards

[2022-01-30 12:42] thelazier commented on #4673
@marcel1974 , please try to stop dashd by issue the command
`dash-cli stop`

[2022-01-31 06:48] #4673 closed

[2022-02-08 16:46] PastaPastaPasta commented on #4505
Implemented https://github.com/dashpay/dash/pull/4672

[2022-02-08 16:46] #4505 closed

[2022-02-14 11:30] kxcd opened #4688 "BUG: Change date format in Governance tab grid to display as yyyy-mm-dd"
Related to the PR-4351 https://github.com/dashpay/dash/pull/4351  the proposal start and end date appear to be displayed in dd-mm-yyyy.  In the mockup attached to the PR they are in yyyy-mm-dd. Two reasons why this is ideal, 1) when sorting on date, only dates in the format yyyy-mm-dd will sort naturally, 2) to avoid confusion with American date system and European format, no one (or perhaps every

[2022-02-14 11:50] kxcd opened #4689 "Feature: Add ability to vote in the Governance tab directly from the GUI"
This is a low priority feature request for the v0.19 or v0.20 of the qt wallet.

The request is to extend the UI to allow voting on proposals with the `vote-many` option either from the main grid directly OR via the details pop-up when you double click on the proposal.

Option 1:  Vote from the grid.

A new column is introduced to the UI with three coloured solid circles. Say Green, Red, Amber.  B

[2022-02-14 18:55] UdjinM6 commented on #4688
Dates are actual dates (QDateTime) and not just strings here, they should be sorted correctly already. Also, they are displayed in the format you set in you OS I believe (for me it's dd.mm.yyyy for example).

[2022-02-19 11:14] kxcd commented on #4688
That's pretty awesome, we should not override the user's configuration.  I will load some proposals and test the sorting and close this issue if it all checks out.

[2022-02-23 12:48] nmarley opened #4698 "Can't create any transactions on develop branch at b0a8522d9"
### Describe the issue

I am not able to create any transaction it seems, after compiling and running dashd on the `develop` branch at commit b0a8522d9. My wallet is unlocked and has plenty of tDash.

If I try and prepare a transaction, I get a message:

proposal collateral (gobject prepare) transaction using DashCore

### Can you reliably reproduce the issue?
#### If so, please list the steps to

[2022-02-23 12:49] #4698 closed

[2022-02-23 13:25] nmarley opened #4699 "Can't create any transactions on develop branch at b0a8522d9"
### Describe the issue

I am not able to create any transaction it seems, after compiling and running dashd on the `develop` branch at commit b0a8522d9. My wallet is unlocked and has plenty of tDash.

If I try and prepare a proposal collateral (gobject prepare) transaction, I get a message:

[code]

If I try and send to a fresh address in my own wallet, I get this message from the command line:

[

[2022-02-23 13:42] thephez commented on #4699
Interesting. Just checked on my machine and it's working fine for me (same commit, different OS).

[2022-02-23 13:53] nmarley opened #4700 "Console font is some serif font on develop branch at b0a8522d9"
### Describe the issue

I complied the DashCore software on branch `develop`, specifically at commit b0a8522d9. Then I opened the Dash-Qt interface and went to console, and the display font is something like Times New Roman, which is really weird for a console.

From the v0.17.0.3 tag that I also self-compiled, it is the normal console font.

### Can you reliably reproduce the issue?

#### If so,

[2022-02-23 13:56] nmarley commented on #4699
Very interesting. I'll try and git bisect it to find the commit where this started, but it will take a while because I have to recompile dependencies and everything from scratch each time because of linker issues. Maybe a functional test as @PastaPastaPasta suggested would help reduce the debug time.

[2022-02-23 14:13] nmarley commented on #4699
Running `keypoolrefill` doesn't help with this specific wallet, but I haven't tried creating a new one. Will try that and see what happens. The wallet I am currently using was created on v0.17.0.3 I believe.

[2022-02-25 20:02] nmarley commented on #4699
After running a git bisect to debug this, it looks like 254e12221779fcfb9ac35e7aa549b39ba788786d is the change which introduced this.

I created a patch on develop which reverts d25c0f21b and 254e12221 and this seems to work to fix the issue, which you can see at https://github.com/nmarley/dash/commit/df0cc17cd440507ccdcd2cc6232ce82c84867f2d.

I am assuming this is because the wallet is not an HD

[2022-02-25 20:23] nmarley commented on #4699
Ok, I've created and funded 2 brand-new wallets from the branch above https://github.com/nmarley/dash/commit/df0cc17cd440507ccdcd2cc6232ce82c84867f2d, 1 of them is an HD wallet and the other is not.

I re-started DashCore at b0a8522d9d1a072f24810ca32b06b21e1b0fbc1c with each wallet loaded in turn, and the HD wallet had no issue but the regular wallet was giving the same error as the above. So it s

[2022-02-26 11:19] UdjinM6 commented on #4699
Thanks for finding the issue! 👍 Pls test https://github.com/dashpay/dash/pull/4705

[2022-02-26 13:21] nmarley commented on #4699
Thanks for the fix! That seems to work.

[2022-02-26 19:17] PastaPastaPasta opened #4707 "bug: data race triggered by mempool_expiry.py introduced in #4702"
This PR has introduced a data race triggered when running mempool_expiry.py. You can see this failure in this CI failure https://gitlab.com/dashpay/dash/-/jobs/2139804684 presumably this failure will be happening on develop now

_Originally posted by @PastaPastaPasta in https://github.com/dashpay/dash/issues/4702#issuecomment-1052483741_

[2022-02-26 22:03] #4699 closed

[2022-03-03 04:19] PastaPastaPasta commented on #4707
🤷 seems maybe to not be an actual issue

[2022-03-03 04:19] #4707 closed

[2022-03-18 17:15] nikoskni opened #4733 "Disorder of the wallet"
I use a desktop wallet (windows) of HNC COIN which is fork of Dash. The wallet was working properly until the day before yesterday where i tried to send some coins at an external address.
I did the whole procedure and when i entered the password a message appeared "File: wallet/crypter.cpp, Line 245 Expression: false.
Can anyone help on this?
Please note that i can receive coins but i can't send c

[2022-03-18 19:06] UdjinM6 commented on #4733
Your wallet is probably corrupted now https://github.com/dashpay/dash/blob/v0.15.x/src/wallet/crypter.cpp#L243-L244 due to some disk error or whatever. You need to find a backup of your wallet.dat and see if it has enough keys to unlock all your coins. If you never made a backup yourself you can try using one of automatic backups that are stored in `<datadir>/backups` folder (`<datadir>` is the fo

[2022-03-18 19:08] nikoskni commented on #4733
thank you for your precious info, i have a backup but unfortunately it didn't unlock my wallet.

[2022-03-18 21:38] richardsuns commented on #4733
@nikoskni
If you have lost wallet.dat password, I can crack your password
you can chat to me in telgram. my telegram id is: walletrecover

[2022-04-09 14:10] cryptowalletr commented on #4666
Kindly reach out to rengvoinc finance for any cryptocurrency related inquiry or difficulty you’re having, visit https://support.rengvoinc.com/welcome-to-rengvoinc-wallet-support/ get swift response and help on how to solve the issue and any other related problem you are having.

[2022-04-15 18:39] PastaPastaPasta opened #4766 "v18.0.0 Release Process"
v18.0.0 Release Process

Note: see https://github.com/dashpay/dash/issues/4211 for planned date of release

- [x] Update translations, see translation_process.md. https://github.com/dashpay/dash/pull/4962
- [x] Update manpages, see gen-manpages.sh. https://github.com/dashpay/dash/pull/4963
- [x] enable DEPLOYMENT_DIP0024 Mainnet nStartTime and nTimeout (set to Aug 15) https://github.com/dashpay/da

[2022-04-15 18:45] PastaPastaPasta opened #4767 "v0.18.0.0-rc1 Release Process"
v0.18.0.0-rc1 Release Process

Note: see https://github.com/dashpay/dash/issues/4211 for planned date of release

- [ ] Merge https://github.com/dashpay/dash/pull/4752
- [ ] Update translations, see translation_process.md.
- [ ] Update manpages, see gen-manpages.sh.

Before every minor and major release:
- [ ] Update version in configure.ac
- [ ] Write & release product update outlining major chan

[2022-04-15 18:49] PastaPastaPasta commented on #4211
@thephez I have added both of these to the release process issue

[2022-04-16 20:00] PastaPastaPasta commented on #4767
Tagged RC1, but build failed, so we pushed a few PRs (primarily https://github.com/dashpay/dash/pull/4770). We are confirming gitian is happy on this commit (be44aa455da37a12c0ddfd8ecb924d3c1fa2d8bc), then if gitian is happy we will retag v18.0.0.0-rc1 to this commit

[2022-04-17 01:52] PastaPastaPasta commented on #4767
rc1 has been retagged https://github.com/dashpay/dash/releases/tag/v18.0.0.0-rc1 Hopefully this is final

[2022-04-21 12:55] thephez opened #4794 "Crash on shutdown with governance tab enabled"
### Describe the issue
Dash Core crashes on application close in some situations when the Governance tab has been enabled.

### Can you reliably reproduce the issue?
Based on info from Discord, several people have done so (I haven't been unable to replicate for some reason). See [Discord](https://discord.com/channels/484546513507188745/495696706638184482/966443603637448746) for more info.

#### If

[2022-04-27 13:47] thephez commented on #4794
This is somehow back in v18 RC3. I have reproduced it when going from governance tab off to on. Others have reported seeing it going the other direction, but I have not seen that one myself.

[2022-05-11 16:10] PastaPastaPasta opened #4837 "Write release notes for v18"

[2022-05-24 15:32] HashEngineering opened #4847 "New Spork for QR Activation for SPV clients"
### Expected behavior
When DIP0024 is activated, mobile and SPV clients won't know.  Even after activation, there is a certain number of blocks required  to be added to the blockchain before `getqrinfo` can return information.

We would like a spork to be created and then activated after `getqrinfo` will be able to return valid data.

Suggested name and number:
[code]

[2022-05-28 02:30] HashEngineering opened #4852 "Older SPV clients and Version 2 Quorums"
This issue tracker is only for technical issues related to Dash Core.

General Dash questions and/or support requests and are best directed to the [Dashpay Reddit](https://www.reddit.com/r/dashpay/).

To report critical security issues, email infosec@dash.org and/or see the DASH bug bounty program on [Bugcrowd](https://bugcrowd.com/dashdigitalcash) instead of creating Github issues.

### Describe

[2022-05-29 21:28] PastaPastaPasta opened #4857 "feat: Implement Asset Locks / Asset Unlocks"
See https://github.com/dashpay/dash/commit/c4d8e0ca537c55e45155cc1da8ba516f6d33911a for initial implementation

- [ ] Implement Asset Locks TX
- This includes the special transaction containing the structure as shown below [see doc](https://docs.google.com/document/d/1o6TA6cTVYEiSIpayC75rvLv8NYzzAPoSzVgkr9REoNM/edit#).
- The type of this special tx should be 8.
- These special transactions should

[2022-06-07 16:47] PastaPastaPasta commented on #4847
Assigning to @knst

[2022-06-14 16:57] PastaPastaPasta commented on #4542
Seems like it was fixed by #4545, unable to reproduce

[2022-06-14 16:57] #4542 closed

[2022-06-18 15:17] #3494 closed

[2022-06-18 15:17] PastaPastaPasta commented on #3481
Bip70 has been removed

[2022-06-18 15:18] #3481 closed

[2022-06-18 15:24] #3529 closed

[2022-06-18 15:24] #4578 closed

[2022-06-18 15:25] #4539 closed

[2022-06-18 17:54] riongull commented on #3481
Why was BIP70 support removed from Dash?

I'm not necessarily opposed to this decision, but this seems important enough to explain.

[2022-06-18 17:56] riongull commented on #3481
Related:

https://github.com/dashpay/dash/pull/4023

[2022-06-18 19:34] PastaPastaPasta commented on #3481
That should've answered those questions. Feel free to ask any follow up questions you may have

[2022-06-19 17:40] riongull commented on #3481
@PastaPastaPasta I was hoping for a narrative description. It appears you wanted to drop the OpenSSL dependency, but how are we justifying removing the BIP70 feature?  Was it not used, not secure, something else?

[2022-07-12 16:32] kittywhiskers opened #4914 "Builds are broken with compiled with --enable-fuzz and -Werror"
First documented in https://github.com/dashpay/dash/pull/4829 in a [comment](https://github.com/dashpay/dash/pull/4829#issuecomment-1181983512)

[2022-07-20 16:17] PastaPastaPasta opened #4929 "Release Schedule for v19.0.0"
Here is a proposed release schedule for v19.0.0, the next major release of Dash Core.

## 2022-09-09

- v19.0.0-beta1 released including https://github.com/dashpay/dash-issues/issues/9, https://github.com/dashpay/dash-issues/issues/13, and https://github.com/dashpay/dash-issues/issues/38

## 2023-2-14

- Release v19.0.0-beta.6

## 2023-2-20

- Soft Feature freeze (no new ideas, any merged PRs shou

[2022-07-27 15:00] Patryk143 commented on #4857
40% done
Draft PR to be created for Pasta to code review ASAP
Then ETA can be established

[2022-07-28 18:07] dpc opened #4943 "Testnet stuck on 769865"
It seems both https://sochain.com/testnet/dash and https://blockexplorer.one/dash/testnet are stuck at the same height, mined 15 hours ago. We see the same on our own testnet node. Is this expected?

[2022-07-28 19:39] dpc commented on #4943
I guess upgrade to rc11 is necessary.

[2022-07-28 19:39] #4943 closed

[2022-07-29 15:29] thephez commented on #4943
@dpc There's also one known bug (fixed in https://github.com/dashpay/dash/pull/4942) which requires you to enable `debug=lllmq` to get unstuck. The subsequent RC will resolve that.

[2022-08-02 12:08] yshurik opened #4947 "Broken transition from 0.17 container to new one"
I had a problem to update the container to latest version.
I used dashpay/dashd:0.17.0.0-rc3-hotfix1 (installed while ago)
Now it does not sync anymore - I guess it happened hardfork or something, i did not figure out.
I wanted to upgrade to new container (is it to use 0.18 or latest tag?)
but looks like it is not possible to run 0.17 anymore but the new container also is not more compatible.

I u

[2022-08-02 16:15] PastaPastaPasta opened #4948 "Ensure that sentinel is not affected by any changes, and no changes to sentinel are required."

[2022-08-02 16:16] PastaPastaPasta commented on #4948
@nmarley Can you provide an update here as to the status of sentinel? Is it ready?

[2022-08-02 16:17] PastaPastaPasta opened #4949 "Update hardcoded seeds."
see: https://github.com/dashpay/dash/tree/develop/contrib/seeds

[2022-08-02 18:52] thephez commented on #4766
@PastaPastaPasta `bips.md` was updated by https://github.com/dashpay/dash/pull/4780 in April. I don't see any changes since then that included new BIPs.

[2022-08-02 20:27] nmarley commented on #4948
It should be ready in general, but to make sure we don't miss anything:

1. We need to test the most recent `develop` on testnet for a while (couple days?)
2. I think @strophy and I still need to work together to ensure the current version is working w/dashmate, and
3. to possibly update the docker `run.sh` script, and
4. to review and/or update the README to make sure it's current.

... at a mini

[2022-08-03 00:26] HashEngineering commented on #4847
This issue is resolved because we don't need a spork.

[2022-08-03 13:31] #4847 closed

[2022-08-03 13:45] thephez commented on #4947
There was a recent hard fork on testnet related to v18 release preparations. At this point the `18.0.0-rc12` tag would be the recommended version to use. I can't speak to the questions regarding image compatibility, but brought your question to the attention of others that may be able to.

[2022-08-03 17:46] PastaPastaPasta commented on #4947
Yes, for testnet I would recommend trying the `18.0.0-rc12` tag. Please let us know if that solves it?

[2022-08-04 01:46] strophy commented on #4947
Hi @yshurik yes, it seems `dash_oneshot` is no longer included in the docker image. You can see an example compose file that works with the current docker images here: https://github.com/dashevo/platform/blob/v0.23-dev/packages/dashmate/docker-compose.yml

You can basically remove `entrypoint: dash_oneshot` and add `-dashd` as the first argument to the `command` key. The volume mountpoints have no

[2022-08-04 08:28] yshurik commented on #4947
I was able to transfer to new ```18.0.0-rc12``` tag and run the container.
It started syncing from previous point but it stopped again at block 770729 (Jul 29) and not going further :(
[code]

[2022-08-04 08:31] strophy commented on #4947
@PastaPastaPasta why do new nodes still have this syncing problem?

[2022-08-04 18:45] PastaPastaPasta commented on #4948
hey @nmarley thanks for the response..

Why would we test develop, instead of 18.0.0-rc12 which is the thing being released? 18.0.0-rc12 has been on testnet for a few weeks now.

What needs to be updated in run.sh and why?

Would you be able to look at the README and ensure it's up to date?

Thanks

[2022-08-04 18:46] PastaPastaPasta commented on #4947
Hmm, interesting. @UdjinM6 ?

BTW @yshurik you can use `reconsiderblock 0000003c43b3ae7fffe61278ca5537a0e256ebf4d709d45f0ab040271074d51e` rpc command to get unstuck

[2022-08-04 19:00] nmarley commented on #4948
I mean the develop branch of Sentinel, not referring to DashCore.

If you mean rc12 has been on testnet for a few days (not weeks), then yes,
I agree with that statement. I have not had the capacity to work on
Sentinel for a few weeks now.

The latest env changes in Sentinel make a lot of the run.sh script obsolete.

Sure, I'll make sure the README is up to date. I wrote this in list format
more a

[2022-08-04 20:57] thephez commented on #4947
Could be connected to old peers that have forked off and aren't on the current chain?

[2022-08-04 21:25] yshurik commented on #4947
resync from scratch helped, but should not it reorg if code is new?

[2022-08-04 21:45] yshurik commented on #4947
Just had a look again, it is still very unstable,
looks like it got forked again (so i caught it third time) or so now stuck on block 774459:

[code]

[2022-08-10 13:42] thephez commented on #4948
Fwiw I ran the `develop` branch (non-dockerized) on a testnet MN for a couple weeks and didn't notice issues. Although issues may not have been evident since most of the network was DCG hosted and using docker.

[2022-08-11 15:34] HashEngineering opened #4966 "CoinJoin for SPV: Modify DSQ message"
### Describe the issue
For the dsq message, there is one field that is missing that would make this message useful and verifiable to an SPV client that obtains masternode lists from `getqrinfo` or `getmnlistd`.

The missing field is `proTxHash` for the masternode -- while this message does contain `masternodeOutPoint` to identify a masternode, SPV clients (via `mnlistdiff` and `qrinfo`) do not hav

[2022-08-13 16:13] #4949 closed

[2022-08-13 16:14] PastaPastaPasta commented on #4948
@nmarley Can you please confirm that `master` of sentinel is ready for the imminent release of v18.0.0?

[2022-08-14 05:57] Syn-McJ opened #4969 "Possible bug in CCoinJoinStatusUpdate"
`CCoinJoinStatusUpdate` [checks](https://github.com/dashpay/dash/blame/develop/src/coinjoin/coinjoin.h#L104) a protocol version number that looks too hight and might be wrong:
[code]
Perhaps `70215` was intended here.

[2022-08-14 13:35] nmarley commented on #4948
@PastaPastaPasta Unfortunately I am on holiday and don't have the capacity for that right now, I might have some this week or next, but can't guarantee it. If this is a problem please contact @strophy for help w/resources.

Feel free to do a PR in the Sentinel repo to bump the version on develop, then another PR to merge develop into master if you want Sentinel `master` branch to be ready.

[2022-08-15 17:33] #4837 closed

[2022-08-18 19:14] core-code opened #4982 "[macOS] Dash 18.0.1 signed using 'Apple Distribution' certificate which is not meant for distribution to end-users"
previous releases were properly signed using the right ("Developer ID") certificates (first using 'Dash Core Group, Inc.' certificates and then using  'The Dash Foundation').

however the newest release 18.0.1 is improperly signed using a 'Apple Distribution' certificate instead of the right 'Developer ID' certificate.

'Apple Distribution' certificates are only meant for uploading to Apple for so

[2022-08-21 10:30] gfkdjgmn opened #4985 "-usehd does not store CoinJoin funds in HD wallet"
How to replicate:
1) Create a new wallet using -usehd=1
2) Receive and mix a bunch of dash
3) Try to restore the wallet using the mnemonic. The result is that you will only see some collateral payment and make collateral input transactions, but your coinjoin funds are not there.

This has the potential to lose a lot of dash. I was lucky that my hard drive didn't break as I didn't have any other ba

[2022-08-21 10:39] gfkdjgmn opened #4986 "Coinjoin issues with coinjoinsessions>1"
CoinJoin mixing sometimes gets stuck only generating "collateral payment" and "make collateral inputs" transactions when using coinjoinsessions larger than 1. After I set the value to 1 I never had that issue so I'm assuming that there is probably a race condition with larger values.

[2022-08-21 11:10] UdjinM6 commented on #4985
Pls try running the node with the wallet you restored via `-mnemonic` with `-rescan=2` option in cmd-line (or try using `Rescan blockchain files 2` button on Wallet Repair tab if you prefer using GUI).

NOTE: probably related - #3796

[2022-08-22 18:28] HashEngineering commented on #4966
The `dstx` may require the same changes as `dsq`

[2022-08-22 20:19] gfkdjgmn commented on #4985
Using the `Rescan blockchain files 2` GUI option did not help but I'm not starting to suspect that this is an issue with the address gap limit which is 20 by default. The reason is that when loading the original then this line appears in debug.log:
[code]
and I can actually see old mixing transactions in the wallet restored from mnemonic.

Is there any way to increase the address gap without creat

[2022-08-23 12:40] thephez commented on #4766
The last step was done by strophy in these PRs: https://github.com/btcpayserver/btcpayserver-docker/pull/700 and https://github.com/btcpayserver/dockerfile-deps/pull/49

[2022-08-25 18:49] gfkdjgmn opened #4991 "zlib dependency fails to download"
https://zlib.net/zlib-1.2.12.tar.gz returns a (cloudfront?) html page with the message
"Please wait while your request is being verified..."

I managed to solve the issue by changing the $(package)_download_path in `depends/packages/zlib.mk` from `https://zlib.net` to `https://fossies.org/linux/misc`

[2022-08-26 07:23] kxcd commented on #4991
https://zlib.net/zlib-1.2.12.tar.gz downloads a tarball for me as expected, maybe a glitch in the matrix?

[2022-08-27 21:06] UdjinM6 commented on #4985
It's a mixed HD/keypool wallet in our case so the gap limit is keypool size actually (`-keypool`) and it's 1000 by default. But yeah, this could be it - I can reproduce the issue by setting `-keypool=10` via cmd line and restoring from mnemonic via `upgradetohd` rpc. Try using a larger keypool e.g. `-keypool=10000` (or `keypoolrefill 10000` in console) and then rescan the wallet again. Btw, you ca

[2022-08-28 02:01] gfkdjgmn commented on #4991
I can download it in the browser as well after the JavaScript verification is complete, but unable to download with cURL.

The verification page probably won't even appear if cloudfront doesn't detect you as being behind a vpn/tor.

[2022-08-28 02:07] gfkdjgmn commented on #4985
Thank you @UdjinM6, I will try with a larger keypool. I imagine that so many addresses being unused might have something to do with this issue https://github.com/dashpay/dash/issues/4986

[2022-08-28 11:41] gfkdjgmn commented on #4985
I manged to recover the wallet from seed using a larger keypool.

First I tried with a keypool size of 10000, which wasn't enough. But I tried again with 100000 and it worked!

[2022-08-28 16:15] #4985 closed

[2022-08-30 04:44] techy2 opened #4994 "this was not captured for this lamda function"
This issue tracker is only for technical issues related to Dash Core.

General Dash questions and/or support requests and are best directed to the [Dashpay Reddit](https://www.reddit.com/r/dashpay/).

To report critical security issues, email infosec@dash.org and/or see the DASH bug bounty program on [Bugcrowd](https://bugcrowd.com/dashdigitalcash) instead of creating Github issues.

### Describe

[2022-08-30 16:52] PastaPastaPasta commented on #4994
This may be due to an older version of GCC? You say you're using GCC 7.5.0, have you tried using more up to date GCC?

[2022-09-02 08:38] kayabaNerve opened #4997 "Support linear signatures in TXs"
### Describe the issue

Currently, Dash uses BLS signatures for its MN network. TXs do not have BLS signatures available, nor do they have Schnorr signatures available. This prevents higher level protocols from effectively organizing AND continues to let first party malleability be pervasive since it can't be converted to second party malleability.

### Examples

- Multisig. Currently, a multisig

[2022-09-08 12:01] ogabrielides opened #5001 "Tracking issue for BLS implementation"
# Tracking issue for BLS implementation

## Subtasks:
- [x] BIP9 fork implementation + helper functions
- [x] Insertion and propagation of `fLegacyScheme` flag on below parts (flag will be set regarding on fork activation status):
- - [x] BLS classes
- - [x] DKG classes: Perform all processing using the active BLS scheme
- - [x] LLMQ signing classes: sign and verify based on the active BLS scheme

[2022-09-08 15:30] PastaPastaPasta opened #5002 "bug: connections are attempted to be opened to long banned Masternodes"
When looking at testnet masternode-105, I noticed the following:
[code]

I thought that this may be indicative of something, however, the master node in question has been pose banned for > ~20000 blocks. as such, I see no reason as to why we are continuing to try to connect to it
[code]

Any ideas @UdjinM6 ?

[2022-09-13 16:26] ogabrielides opened #5011 "Investigation if new serialization/unserialization is needed on `qdata` message (once the fork is active)"

[2022-09-13 16:26] #5011 closed

[2022-09-13 20:31] jerrybb opened #5012 "Memory leak?"
Hi,
I am running dash 18.0.1 (x64) in docker container. The dashd process takes all RAM and swap available.

VM running docker engine has 16GB RAM and 8GB swap space currently (I have been increasing resources from 4GB onwards).

Sync stops now at syncing 2022-02.

[code]

Sync started today at 5:30. RAM consumption was normal. At one point RAM consumption starts to increase dramatically.
Swap usa

[2022-09-13 22:26] thephez commented on #5012
Not sure, but this may be related to https://github.com/dashpay/dash/pull/5007

[2022-09-13 23:42] UdjinM6 commented on #5012
Yes, we are trying to figure out why leveldb behaves like this. So far the best solution (imo) is to limit evodb cache i.e. #5007. You can achieve similar results with 18.0.1 by specifying very low `-dbcache` and `-maxmempool` params e.g. `-dbcache=64 -maxmempool=64`. This might slow things down a bit but at least this should you keep mem usage under control and you should be able to sync without

[2022-09-15 03:38] jerrybb commented on #5012
This workaround solved the problem, indeed. Thank you very much for help.

[2022-09-15 03:39] #5012 closed

[2022-09-15 13:16] jerrybb opened #5014 "InvalidChainFound - block 1738697"
Hi, dash has stopped syncing at block 1738697. Same issue is with some other online services like cryptoid - see attached screenshot. Sync stopped at same block.
<img width="635" alt="image" src="https://user-images.githubusercontent.com/44587704/190413258-1b217609-b076-4d48-8f1c-c5d185bbb9d4.png">

Log events: 2022-09-15T13:05:47Z InvalidChainFound:  current best=00000000000000362d528545b40976af8

[2022-09-15 13:48] thephez commented on #5014
Yes, Dash's [previously announced](https://www.dash.org/news/dash-core-v-018/) hard fork happened at block after they are stuck. This could happen if Dash Core was not updated to v18 prior to activation.

[This support article](https://support.dash.org/en/support/solutions/articles/26000050175-dashcore-wallet-v17-stuck-on-block-1737792) describes how to get back on track.

[2022-09-15 14:36] jerrybb commented on #5014
Thank you, this solved the issue indeed. Confirmed.

[2022-09-15 14:36] #5014 closed

[2022-09-16 06:09] strophy commented on #4766
For future releases, please add a few web/comms tasks to the release checklist:
- Prepare release blog post (necessary so we have a permalink to use on twitter, reddit, etc.)
- Prepare product brief (major versions only?)
- Prepare a release announcement tweet
- Follow-up tweets with any important block heights for consensus changes
- Update website download links
- Post on reddit
- Update docs (r

[2022-09-16 06:38] #4766 closed

[2022-09-16 08:52] #4948 closed

[2022-09-17 08:02] maomaozhou opened #5015 "ERROR: AcceptBlockHeader"
2022-09-17T07:58:41Z ERROR: AcceptBlockHeader: block 0000000000000010d482a05b91228af40d7faceb4c3539ee0994816a637c008a is marked invalid

dashcore-18.0.1

[2022-09-17 12:55] PastaPastaPasta commented on #5015
We'll probably need more information. My node has no issues with that block. Can you provide the debug.log from right after you run reconsiderblock rpc? That should tell us why the block is being marked invalid

[2022-09-17 13:12] message opened #5016 "[Question] reconsiderblock throws an error"
### Describe the issue
My Dash Core daemon is not syncing new blocks. On a restart I have a message in `debug.log` about invalid block reconsideration.

[code]

But while reconsidering it fails with
[code]
I tried to run manually `reconsiderblock 000000000000001aa25181e4c466e593992c98f9eb21c69ee757b8bb0af50244` but I still get same error. Any suggestions on what should I do?

### What version of D

[2022-09-17 13:32] PastaPastaPasta commented on #5016
Hi,

I'm not able to reproduce this at the moment. Would you be able to do the following for me?

shutdown dashd
delete debug.log
restart dashd with debug all. IE `dashd --debug=1` or my putting `debug=1`
please send that debug.log to me, there shouldn't be much sensitive info in there, but you may want to email it to me pasta@dash.org instead of posting it publicly.

Thanks, that should provide u

[2022-09-17 13:43] message commented on #5016
I'm sorry. I was pushed into deleting blockchain and re-downloading it again, because I didn't knew how fast I would receive a reply. I still sent you an email, but it's without `--debug`.

[2022-09-17 13:43] #5016 closed

[2022-09-17 16:02] UdjinM6 commented on #5015
1. was your node running v18 at block 1737792 (DIP0024 fork) or was it upgraded later?
2. pls run `getchaintips 3` in console and copy results here

[2022-09-18 02:18] maomaozhou commented on #5015
[
  {
    "height": 1739661,
    "hash": "0000000000000010d482a05b91228af40d7faceb4c3539ee0994816a637c008a",
    "difficulty": 61438411.39808008,
    "chainwork": "00000000000000000000000000000000000000000000788554a97bec6079609c",
    "branchlen": 964,
    "forkpoint": "00000000000000362d528545b40976af8a9b5380def57d63943a30a9379a5385",
    "status": "invalid"
  },
  {
    "height": 1738697,
    "h

[2022-09-18 02:23] maomaozhou commented on #5015
2022-09-18T02:21:36Z ERROR: ConnectBlock(DASH): ProcessSpecialTxsInBlock for block 000000000000001aa25181e4c466e593992c98f9eb21c69ee757b8bb0af50244 failed with bad-qc-invalid (code 16)
2022-09-18T02:21:36Z InvalidChainFound: invalid block=000000000000001aa25181e4c466e593992c98f9eb21c69ee757b8bb0af50244  height=1738698  log2_work=78.91219724  date=2022-09-15T12:41:21Z
2022-09-18T02:21:36Z InvalidCh

[2022-09-18 02:23] maomaozhou commented on #5015
2022-09-18T02:21:36Z ERROR: ConnectBlock(DASH): ProcessSpecialTxsInBlock for block 000000000000001aa25181e4c466e593992c98f9eb21c69ee757b8bb0af50244 failed with bad-qc-invalid (code 16)
2022-09-18T02:21:36Z InvalidChainFound: invalid block=000000000000001aa25181e4c466e593992c98f9eb21c69ee757b8bb0af50244  height=1738698  log2_work=78.91219724  date=2022-09-15T12:41:21Z
2022-09-18T02:21:36Z InvalidCh

[2022-09-18 09:14] kxcd commented on #5016
`dashd -debug` for the record.

[2022-09-18 16:27] PastaPastaPasta commented on #5016
This is the same as -debug=1 btw

[2022-09-19 09:37] mpdev123 opened #5018 "The node is stuck at height 1738697 having block hash of 00000000000000362d528545b40976af8a9b5380def57d63943a30a9379a5385. Next block 1738698 should be hash 000000000000001aa25181e4c466e593992c98f9eb21c69ee757b8bb0af50244 (as per all explorers) but it is not working as expected. We have even tried reconsiderblock command."
Problem:

The node is stuck at height 1738697 having block hash of 00000000000000362d528545b40976af8a9b5380def57d63943a30a9379a5385. Next block 1738698 should be hash 000000000000001aa25181e4c466e593992c98f9eb21c69ee757b8bb0af50244 (as per all explorers) but it is not working as expected. We have even tried reconsiderblock command.

InvalidChainFound:  current best=00000000000000362d528545b40976af

[2022-09-19 11:54] thephez commented on #5018
Please try the instructions list in https://github.com/dashpay/dash/issues/5014#issuecomment-1248127313 if you haven't already. Due to the nature of this upgrade, you can encounter this depending on exactly when you upgraded to v18.

[2022-09-19 12:04] PastaPastaPasta commented on #5018
If @thephez's suggestion doesn't work, you likely will need to reindex

[2022-09-19 15:01] M03G commented on #5016
@message  I have a similar problem on the same block.

[2022-09-19 15:02] M03G commented on #5016
`2022-09-19T14:55:36Z ThreadSocketHandler -- removing node: peer=0 nRefCount=1 fInbound=0 m_masternode_connection=0 m_masternode_iqr_connection=0    │
│2022-09-19T14:55:37Z New outbound peer connected: version: 70223, blocks=1740931, peer=1                                                            │
│2022-09-19T14:55:37Z ERROR: AcceptBlockHeader: block 000000000000001aa25181e4c466e593992c98f9eb21

[2022-09-19 15:32] PastaPastaPasta commented on #5016
Hi. If you updated after the hard fork, it is likely you'll have to reindex.

[2022-09-19 15:39] M03G commented on #5016
The error appeared about 6-7 days ago.
After that, the version was updated.
Unfortunately, I do not remember when the update was last installed.
What hard fork are you talking about? When it was?

[2022-09-19 16:59] M03G commented on #5016
rescan did not help. reindex helped. Thanks

[2022-09-20 13:02] #5018 closed

[2022-09-23 09:37] ogabrielides opened #5025 "Update bls-signatures to latest version in makefile of core"

[2022-09-23 15:05] #4211 closed

[2022-09-26 19:41] Eumaios1212 opened #5028 "Window and text dimensions"
After installing Dash Core in Ubuntu 22.04.1, when opened the Dash app almost entirely fills both of my monitors, but the text is almost too small to read. I had this same issue with Dogecoin. They said it was a known issue, and gave me a line of code to add that solved it (Nvidia GPU issue). Unfortunately, that line didn't help the same problem here with Dash.

![Doge-Dash Issue](https://user-ima

[2022-09-30 04:41] kxcd commented on #5028
What was the line of code?

[2022-10-01 17:17] Eumaios1212 commented on #5028
Exec=env QT_SCALE_FACTOR=1 QT_AUTO_SCREEN_SCALE_FACTOR=0 /path/to/dogecoin-qt %u

That as the exec line in the .desktop file

[2022-10-02 06:45] mtb-pro opened #5031 "sync stopped at 1737833"
how to fix it?

Dash Core RPC client version v0.17.0.3
dash-cli getblockchaininfo

{
  "chain": "main",
  "blocks": 1737833,
  "headers": 1737833,
  "bestblockhash": "0000000000000002e91bac9f95f96885a89de2c46846d197933c8c5f03cb806f",
  "difficulty": 75380794.81416096,
  "mediantime": 1663107922,
  "verificationprogress": 0.989364943128956,
  "initialblockdownload": true,
  "chainwork": "0000000000

[2022-10-02 15:22] UdjinM6 commented on #5031
pls see https://github.com/dashpay/dash/issues/5014#issuecomment-1248127313

[2022-10-03 05:57] mtb-pro commented on #5031
I use the following functions and it is not possible to update to version 0.18 for me

getaccountaddress
getaddressesbyaccount
getbalance|getnewaddress
getreceivedbyaccount
listtransactions
move
sendfrom
sendmany

what do i can do now?

[2022-10-03 11:46] thephez commented on #5031
Some of these still exist (getbalance, getnewaddress, listtransactions, sendmany) and some of them represented by the new "labels" system that was introduced by Bitcoin before they dropped accounts (getaddressbylabel, getreceivedbylabel). I'm not sure what would be required to move from accounts to labels. Bitcoin made this change ~4 yrs ago so there may be some info available from people that enc

[2022-10-07 10:47] kxcd opened #5033 "dash fails to compile on gcc 12."
dash fails to compile on gcc 12.  System was Fedora 36.
Error in code is on like 139 in block.h
https://github.com/dashpay/dash/blob/master/src/primitives/block.h#L139

gcc error is

[code]

You can reproduce the error with the code snippet in https://privatebin.at/?84cd632fa5f958dd#8i7yrKwctM75DkinypkBAgyGmZCSESWvq2YykjFVqb2h

[code]
compile with `g++ -Wall -std=c++17  try.cpp && ./a.out` assumin

[2022-10-08 15:19] MonkeyD-Core opened #5038 "Can somebody help me"
How to enable a chainlock ?

[2022-10-10 16:11] PastaPastaPasta commented on #5033
should be fixed

[2022-10-10 16:11] #5033 closed

[2022-10-10 16:12] PastaPastaPasta commented on #5031
solution was provided

[2022-10-10 16:12] #5031 closed

[2022-10-10 16:52] suschizu commented on #4982
download https://github.com/dashpay/dash/releases/download/v18.0.2/dashcore-18.0.2-osx.dmg is again signed with a Apple Development signature:
`EXPECTED:
The Dash Foundation, Inc. (44RJ69WHFF)
FOUND:
Apple Development: pasta@dash.org (9LJX49W7UG)`

[2022-10-10 16:55] core-code commented on #4982
18.0.2 is broken too

[2022-10-10 16:56] PastaPastaPasta commented on #4982
How so?

[2022-10-10 16:57] core-code commented on #4982
"Apple Development" certificates are *not* meant for distributing software to end users. they are only meant to upload software to the Mac App Store. your users will not be able to launch DashDash without disabling GateKeeper.

[2022-10-10 16:58] PastaPastaPasta commented on #4982
Sooo.. It's not supposed to be a "Apple Distribution" or a "Apple Development" but "Developer ID"?

[2022-10-10 17:01] PastaPastaPasta commented on #4982
Do you know how these "Develop ID" certificates are generated? Inside of Xcode, all that I see are these three options..
<img width="201" alt="image" src="https://user-images.githubusercontent.com/6443210/194918186-67431d3e-d19b-4a72-a330-153654912e5d.png">

A different developer previously handled the macOS signing, but he left the project. So we are trying to figure it out properly now 🙈

[2022-10-10 17:04] core-code commented on #4982
if you don't have them you should be able to obtain them from Xcode => Settings/Preferences => Accounts => Manage Certificates…

if they are not there and cannot be added....maybe the devforums ( https://developer.apple.com/forums/ ) can help:

<img width="205" alt="Screenshot 2022-10-10 at 19 03 54" src="https://user-images.githubusercontent.com/1261954/194918758-c51db0d1-adf3-48de-a3d8-f3f24636b

[2022-10-10 17:05] core-code commented on #4982
i believe proper signing requires a paid apple developer membership, so that may be a reason why they don't show up

[2022-10-10 20:24] QuantumExplorer commented on #4982
We have a paid membership.

[2022-10-10 21:02] PastaPastaPasta commented on #4982
Okay, we've got the certificate figured out. I'm building 18.1.0-rc.1 signed Mac binaries right now to see if it works. I'll post a link to them here once done and we can make sure we've got it figured out :D

[2022-10-11 08:41] Eumaios1212 commented on #5028
Although this works, the change does not endure. I have to add this line each time before running. We're trying to resolve that now.

Sent with [Proton Mail](https://proton.me/) secure email.

------- Original Message -------
On Friday, September 30th, 2022 at 12:41 AM, Michael ***@***.***> wrote:

[2022-10-11 09:03] nikoskni commented on #4733
Hi there,thank you for contacting. I haven't lost my password. My wallet just doesn't recognize my password and it appears the error i wroteRegards,Nikos KakaniarisCOO HNC CoinW. www.hnc-coin.comE. ***@***.*** Mar 18, 2022 23:38, wallet recovery service ***@***.***> wrote:
@nikoskni
If you have lost wallet.dat password, I can crack your password
you can chat to me in telgram. my telegram id is: wa

[2022-10-11 16:30] PastaPastaPasta commented on #4982
@core-code can you look at https://github.com/dashpay/dash/releases/download/v18.1.0-rc.1/dashcore-18.1.0-rc.1-osx.dmg (my gpg sig here: https://github.com/dashpay/dash/releases/download/v18.1.0-rc.1/dashcore-18.1.0-rc.1-osx.dmg.asc)

[2022-10-11 17:09] core-code commented on #4982
looks great and confirmed valid - thanks!

[code]

[2022-10-12 17:14] #4982 closed

[2022-10-12 17:15] PastaPastaPasta commented on #4982
I'm gonna close this now, I don't want to replace previously published binaries (don't want two "proper" binaries for one tag). But this should be fixed in the next release (18.1.0 which should come out next week)

[2022-10-12 18:40] core-code commented on #4982
thanks!

[2022-10-15 23:32] yeahitsme2 commented on #4994
I have been having this issue on ubuntu 18.04.06 started on GCC 7.5.0 Tried versions 8-12 none of them managed to fix the lambda function error

[2022-10-22 01:35] PastaPastaPasta commented on #4969
fixed by https://github.com/dashpay/dash/pull/5057

[2022-10-25 02:03] taw00 opened #5063 "dashcore-18.1.0/include/bitcoinconsensus.h ⬅ that should be dashconsensus.h"
SSIA

[code]

[2022-11-02 16:18] PastaPastaPasta commented on #5063
@kittywhiskers can you respond?

[2022-11-03 13:22] taw00 commented on #5063
Thanks. I take it I should revert my build to `bitcoinconsensus.h`? Will something break if I do not?

[2022-11-04 02:34] taw00 commented on #5063
Thanks. I just didn't want to have to deal with it right now. I will unfix my fix on the next go around.

[2022-11-04 02:34] #5063 closed

[2022-11-16 10:46] anycolo opened #5078 "Not sure how to start coinjoin process on dash daemon only with rpc calls"
Is `coinjoin start` enough?
Where can i see the progress?
I can see the outputs in `listunspent` but where can i set the minimum mixed value?
These can be set up in the GUI, but there is little information on how to do it via console.

[2022-11-27 10:05] bitterseed commented on #3344
Issue appears to have resolved in 18.1 for linux

[2022-11-30 16:58] serg-co opened #5088 "feature: CORS option for JSONRPC in dash.conf"
JSONRPC requests from web-apps have problem with CORS.
Browsers send preflight request with OPTIONS method but dashd answer 501 Not implemented.
It would be nice to have the option rpcheader="Access-Control-Allow-Origin": "*" in the dash.conf file.
And the ability to respond to requests using the OPTIOS method.
This will allow not to make extra utils for interacting with dashd.